body {
  margin: 0;
  padding: 0;
  font-family: var(--font-exo-sans), sans-serif;

  /* Keyword values */
  scroll-behavior: auto;
  scroll-behavior: smooth;

  /* Global values */
  scroll-behavior: inherit;
  scroll-behavior: initial;
  scroll-behavior: revert;
  scroll-behavior: revert-layer;
  scroll-behavior: unset;
}