.container {
  max-width: clamp(1200px, scale(1612), 2200px);
  margin: auto;
  width: 100%;
  padding: 0 20px;
  display: flex;
  position: relative;
  gap: clamp(30px, scale(50), 55px);

  @include md {
    max-width: none;
  }

  @include xs {
    flex-direction: column;
  }

  > .col {

    @include xs {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  &.w-full {
    max-width: none;
  }

  &.dir-col {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }

  &.has-col-border {

    >.col {
      align-content: center;

      &:first-child {
        position: relative;

        &::after {
          content: '';
          width: 1px;
          height: 100%;
          background: $gray-light;
          position: absolute;
          right: scale(-25);
          top: 0;
        }

        @include xs {
          &::after {
            content: none;
          }
        }
      }
    }
  }
}

.section {
  padding: clamp(30px, scale(60), 68px) 0;

  &.blue {
    background: $blue-lightest;
  }

  &.green {
    background: $green-lightest;
  }

  &.yellow {
    background: $yellow-lightest;
  }

  &.red-light {
    background: $red-light;
  }

  &.has-bg {
    padding: scale(50) scale(40);
  }



  .section-header {
    margin-bottom: scale(30);

    img {
      margin-bottom: scale(15);
    }

    h2 {
      font-size: clamp(26px, scale(50), 56px);
      margin-bottom: 10px;
    }

    p {
      margin-top: 0;
    }

    &.blue {
      h2 {
        span {
          color: $blue-light;
        }
      }
    }

    &.blue-dark {
      h2 {
        span {
          color: $dark-blue;
        }
      }
    }

    &.yellow {
      h2 {
        span {
          color: $yellow;
        }
      }
    }

    &.green {
      h2 {
        span {
          color: $green;
        }
      }
    }

    &.red {
      h2 {
        span {
          color: $red;
        }
      }
    }
  }

  .section-footer {
    margin-top: scale(30);

    .note {
      font-size: clamp(16px, scale(20), 22px);
      font-style: italic;
      margin-bottom: 16px;

      span {
        font-weight: 600;
        font-style: normal;
        color: $dark-blue;
      }
    }

    .button-wrapper {
      display: flex;
      gap: scale(16);
      align-items: center;
      flex-wrap: wrap;

      p {
        font-weight: 600;
        color: $dark-blue;
        margin: 10px 0 0;
        // max-width: scale(240);
      }
    }

    &.yellow {
      .note span {
        color: $yellow
      }

      .button-wrapper p {
        color: $yellow;
      }
    }
  }
}

.features-heading {
  font-size: scale(32);
  margin-bottom: 30px;
}

.features {
  .cards {
    display: flex;
    gap: clamp(20px, scale(30), 35px);

    @include xs {
      flex-direction: column;
      max-width: none !important;
    }

    .card {
      border: 1px solid $green;
      border-top-width: 10px;
      border-radius: scale(12);
      padding: scale(36);
      display: flex;
      flex-direction: column;
      gap: scale(16);
      flex: 1;

      .icon {
        img {
          height: clamp(76px, scale(86), 96px);
          width: clamp(76px, scale(86), 96px);
        }
      }

      .card-content {
        h4 {
          font-size: clamp(18px, scale(22), 24px);
        }

        p {
          margin: 10px 0 0;
          font-size: clamp(16px, scale(18), 20px);
        }
      }

      &.yellow {
        border-color: $yellow;
      }

      &.red {
        border-color: $red;
      }


    }

    &.no-border {
      .card {
        border: 0;
        border-radius: 0;
        padding: 0;
        background: transparent;
        box-shadow: none;
      }

      &.yellow {
        h4 {
          color: $yellow;
        }
      }

      &.light-blue {
        h4 {
          color: $blue-light;
        }
      }
    }
  }
}

.card {
  border-radius: 16px;
  background-color: $white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: clamp(20px, scale(50), 55px) 0;
}


// cx phase4, 5
.analyze-features {
  display: flex;
  flex-direction: column;
  gap: clamp(20px, scale(30), 35px);
  margin-top: scale(30);

  .feature {
    display: flex;
    gap: clamp(10px, scale(15), 18px);
    align-items: flex-start;

    .content {
      display: flex;
      flex-direction: column;
      gap: scale(10);

      p {
        margin: 0;
      }
    }

    &.green {
      h5 {
        color: $green;
      }
    }

    &.yellow {
      h5 {
        color: $yellow;
      }
    }

    &.red {
      h5 {
        color: $red;
      }
    }
  }
}


// Sub Header
.sub-header {
  background: $blue-lightest;
  padding: 12px 0;

  .container {
    align-items: center;
    justify-content: space-between;

    @include xs {
      flex-direction: row;
    }
  }


  .sub-header-left {
    display: flex;
    align-items: center;
    gap: 30px;
    flex: 1;

    @include xs {
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
    }

    .page-title {
      display: flex;
      align-items: center;
      gap: 16px;
      font-size: clamp(10px, scale(24), 26px);
      color: $dark-blue;
      max-width: clamp(180px, scale(400), 420px);
      font-weight: 600;
    }
  }

  .sub-header-right {
    color: $blue;
    font-size: clamp(14px, scale(24), 26px);
    font-weight: 500;

    @include xs {
      max-width: 150px;
      text-align: right;
    }

    a {
      display: flex;
      align-items: center;
      gap: 8px;
      color: $dark-blue;

      @include xs {
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }
}


// Checklist
.checklist {
  display: flex;
  flex-direction: column;
  gap: clamp(15px, scale(20), 22px);

  &-item {
    position: relative;
    padding-left: clamp(30px, scale(50), 54px);
    line-height: 1.6;
    font-size: clamp(16px, scale(18), 20px);

    span {
      font-weight: 600;
    }

    &::before {
      content: "";
      flex: 0 0 auto;
      width: clamp(22px, scale(30), 30px);
      height: clamp(22px, scale(30), 30px);
      border-radius: 50%;
      background-color: $black;
      background-image: url(/images/tick-white.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: clamp(16px, scale(20), 20px);
      position: absolute;
      left: 0;
      top: 1px;
    }
  }

  $colors: (
    'green': $green,
    'red': $red,
    'yellow': $yellow,
    'blue': $blue,
    'blue-light': $blue-light,
  );

@each $name, $color in $colors {
  &.#{$name} {
    span {
      color: $color;
    }

    .checklist-item::before {
      background-color: $color;
    }
  }
}

&.inline {
  flex-direction: row;
}
}


// Content Group
.content-group {

  h2,
  h3 {

    small {
      font-size: clamp(14px, scale(20), 22px);
      font-weight: 500;
      display: block;
      opacity: 0.5;
    }
  }

  .section-footer {

    p {
      font-style: italic;

      span {
        font-style: normal;
        font-weight: 500;
      }
    }

    .row {
      display: flex;
      gap: scale(20);
      align-items: center;

      p {
        margin: 0;
        font-weight: 500;
        font-style: normal;
      }

      .button {
        white-space: nowrap;
      }

      &.dir-col {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  $colors: (
    'blue': $blue,
    'blue-light': $blue-light,
    'yellow': $yellow,
    'green': $green,
    'red': $red
  );

@each $name, $color in $colors {
  &.has-inner-text-#{$name} {

    h2,
    h3,
    p {
      span {
        color: $color;
      }
    }

    .section-footer {
      .row {

        p {
          color: $color;
        }

        .button {
          background: $color;

          &::before {
            background: url("/images/icon-arrow-right-circled.svg") no-repeat center $color;
          }

          &:hover {
            background: lighten($color, 5%);
          }
        }
      }
    }
  }
}
}


// Card Blocks
.card-blocks {
  display: flex;
  gap: clamp(15px, scale(30), 32px);

  @include xs {
    flex-direction: column;
  }

  &-item {
    background: $white;
    border-style: solid;
    border-width: scale(10) 1px 1px;
    border-color: $blue;
    padding: clamp(15px, scale(25), 30px) clamp(20px, scale(40), 35px);
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: scale(15);
    gap: clamp(10px, scale(15), 20px);

    p {
      margin: 0;
    }

    &.green {
      border-color: $green;
    }

    &.red {
      border-color: $red;
    }

    &.yellow {
      border-color: $yellow;
    }
  }
}


// Features
.features-capsule {
  display: flex;
  flex-direction: column;
  gap: scale(25);

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(15px, scale(20), 20px);

    .icon,
    .content {
      flex: 0 1 100%;
    }

    .icon {
      display: flex;
      align-items: center;
      gap: clamp(12px, scale(15), 18px);
      padding: scale(20);
      color: $white;
      background: $blue;
      border-radius: 100px 0 0 100px;

      h5 {
        font-size: clamp(14px, scale(22), 22px);
      }
    }

    .content {
      font-size: clamp(12px, scale(20), 20px);

      span {
        color: $blue;
        font-weight: 500;
      }
    }

    &:nth-child(2n + 2) {
      flex-direction: row-reverse;

      .icon {
        border-radius: 0 100px 100px 0;
        background: $blue;
      }

      .content {
        text-align: right;
      }
    }
  }
}


// Alternate Content Section
.alternate-content-section {
  .col {
    flex: 2.4;
    align-content: center;

    &.content {
      flex: 2.6;

      .content-group {

        .section-symbol {
          position: relative;
          margin-bottom: scale(20);

          &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            right: calc(100% + 20px);
            background-color: $black;
          }
        }

        h3 {
          max-width: 80%;

          @include xs {
            max-width: none;
          }
        }

        p {
          line-height: 1.6;
        }

        $colors: (
          'blue': $blue,
          'blue-light': $blue-light,
          'yellow': $yellow,
          'green': $green,
          'red': $red
        );

      @each $name, $color in $colors {
        &.has-inner-text-#{$name} {

          .section-symbol::before {
            background: $color;
          }

          h3 {
            small {
              opacity: 1;
              color: $color;
              text-transform: uppercase;
            }
          }

          .link {
            color: $color;
          }

          .button {
            background: $color;

            &::before {
              background: url("/images/icon-arrow-right-circled.svg") no-repeat center;
            }
          }
        }
      }
    }
  }

  &:last-child {
    text-align: right;

    .content-group {

      .section-symbol {

        &::before {
          left: calc(100% + 20px);
        }
      }

      h3 {
        margin-left: auto;
      }
    }
  }
}
}
