.phase2 {

	// Banner
	.banner {
		.container {
			gap: scale(50);

			.col {
				.content {
					max-width: none;
				}
			}
		}
	}

	// Feedback
	.feedback {

		.container {

			.col {

				&:first-child {
					flex: 1.8;
					position: relative;
					padding-right: scale(60);
					align-content: center;



					h2 {

						span {
							color: $green;
						}
					}

					.content {
						font-size: scale(20);
						max-width: 90%;
						font-weight: 400;
						margin-bottom: 30px;

						p {
							span {
								color: $green;
							}
						}
					}

					.row {
						p {

							font-weight: 600;
							color: $green;
						}
					}
				}

				&:last-child {
					flex: 2.2;
					padding-left: scale(60);

					.checklist {
						margin: scale(20) 0 0;

						&-item {
							line-height: normal;
						}
					}
				}
			}
		}
	}

	// ai-powered
	.ai-powered {
		.card {
			@extend .gradient;
			color: white;
		}

		.container {
			gap: clamp(20px, scale(30), 35px);
		}

		.col {

			&.content {


				h3 {
					max-width: 80%;

					@include xs {
						max-width: none;
					}

					span {
						color: $yellow;
					}
				}

				p {
					max-width: 60%;

					@include xs {
						max-width: none;
					}

					span {
						color: $yellow;
					}
				}

				h5 {
					color: $yellow;
					font-weight: 500;
					font-style: italic;
					margin: 30px 0 20px;
				}

				.row {
					display: flex;
					gap: 30px;

					@include xs {
						flex-direction: column;
					}

					.col {
						flex: 1;

						h4 {
							font-size: clamp(18px, scale(22), 24px);
							margin: 10px 0;
							color: $yellow;
						}

						p {

							margin-top: 0;
						}
					}
				}
			}

			.row-button {
				display: flex;
				align-items: center;
				gap: 30px;

				p {
					max-width: clamp(140px, scale(180), 200px);

					font-weight: 500;
					color: $yellow;
				}
			}
		}
	}

	// omni-channel
	.omni-channel {
		.container {
			gap: scale(50);

			&:first-child {
				flex-direction: column;
				gap: 0;
				margin-bottom: 24px;

				h3 {
					display: flex;
					align-items: center;
					gap: 20px;
				}
			}
		}

		.col {
			flex: 1;
		}

		.content-card {
			border: 1px solid $green;
			border-top-width: 20px;
			border-radius: 12px;
			padding: clamp(15px, scale(36), 40px);
			display: flex;
			flex-direction: column;
			gap: scale(16);

			h5 {
				font-size: clamp(14px, scale(18), 18px);
				color: $disabled;
			}

			h4 {
				font-size: clamp(18px, scale(25), 28px);
			}

			p {
				margin: 10px 0 0;
			}
		}


	}

	// customer-feedback
	.customer-feedback {

		.col {
			flex: 1;

			&:nth-child(2) {
				justify-content: center;
				align-content: center;
				justify-items: center;
				text-align: center;
			}
		}

		.ternado {
			width: scale(500);
			height: scale(500);
		}

		.content {

			ul {
				margin: scale(10) 0;
				display: flex;
				flex-direction: column;
				padding-left: scale(10);
				gap: 8px;

				li {
					font-size: scale(20);
					display: flex;
					align-items: center;
					gap: 16px;

					p {
						margin: 8px 0;

						span {
							font-weight: 600;
							color: $green;
						}
					}

					&:before {
						content: '';
						flex: 0 0 auto;
						width: clamp(20px, scale(32), 34px);
						height: clamp(20px, scale(32), 34px);
						display: inline-block;
						background: url('/images/green-tick.svg') no-repeat center;
						background-size: contain;

					}

					&.yellow {
						p {
							span {
								color: $yellow;
							}
						}

						&:before {

							background: url('/images/yellow-tick.svg') no-repeat center;
							background-size: contain;
						}
					}

					&.red {
						p {
							span {
								color: $red;
							}
						}

						&:before {

							background: url('/images/red-tick.svg') no-repeat center;
							background-size: contain;
						}
					}

				}
			}



			.note {
				font-style: italic;

				span {
					font-weight: 600;
					color: $green;
					font-style: normal;
				}
			}

			.row {
				display: flex;
				align-items: center;
				gap: 30px;

				.button {
					background: $green;

					&:before {
						background-color: $white;
					}
				}

				p {
					max-width: clamp(140px, scale(220), 200px);
					font-weight: 500;
					color: $green;
				}
			}
		}



	}
}
