.phase4,
.phase5 {

  .card-blocks-item {

    &.green {

      h5 {
        color: $green;
      }
    }

    &.yellow {

      h5 {
        color: $yellow;
      }
    }

    &.red {

      h5 {
        color: $red;
      }
    }
  }
}

.prioritize-what-matters {

  .card {

    >.container {

      >.col {

        &:nth-child(1) {
          flex: 2.6;
          padding-right: scale(50);
        }

        &:nth-child(2) {
          flex: 2.4;
          padding-left: scale(50);
        }
      }
    }
  }
}


// automate-workflows
.automate-workflows {

  >.container {
    align-items: center;

    >.col {

      &:first-child {
        flex: 1;
        padding-right: scale(50);
      }

      &:last-child {
        flex: 1;
        padding-left: scale(50);
      }
    }
  }
}


// Collaborate
.collaborate {

  .card {
    @extend .gradient;
    color: $white;
  }

  .container {
    gap: clamp(20px, scale(30), 35px);
  }

  .col {

    &.content {
      max-width: 80%;

      @include xs {
        max-width: none;
      }

      h3 {
        margin-bottom: scale(40);

        span {
          color: $yellow;
        }
      }

      p {

        span {
          color: $yellow;
        }
      }

      h5 {
        color: $yellow;
        font-weight: 500;
        font-style: italic;
        margin: scale(10) 0;
      }

      > .row {
        display: flex;
        gap: clamp(20px, scale(30), 35px);

        @include xs {
          flex-direction: column;
          align-items: flex-start;
        }

        .col {
          flex: 1;

          h4 {
            font-size: clamp(18px, scale(22), 22px);
            margin: scale(10) 0;
            color: $yellow;
          }

          p {
            margin-top: 0;
          }
        }
      }

      .link {
        align-self: center;
        color: $yellow;

        @include xs {
          align-self: flex-start;
        }
      }
    }
  }
}
