// comprehensive-view
.comprehensive-view {

  &-left {
    flex: 2.4;
    padding-right: scale(50);
  }

  &-right {
    flex: 2.6;
    padding-left: scale(50);

    .checklist {
      margin-top: scale(20);
    }
  }
}

// customer-emotions
.customer-emotions {

  .card {
    @extend .gradient;
    color: $white;
  }

  .container {
    gap: clamp(20px, scale(30), 35px);
  }

  .col {

    &.content {
      max-width: 80%;

      h3 {
        margin-bottom: scale(40);

        span {
          color: $yellow;
        }
      }

      p {
        span {
          color: $yellow;
        }
      }

      h5 {
        font-size: scale(22);
        color: $yellow;
        font-weight: 500;
        font-style: italic;
        margin: scale(10) 0;
      }

      .row {
        display: flex;
        gap: clamp(20px, scale(30), 35px);

        .col {
          flex: 1;

          h4 {
            font-size: scale(22);
            margin: scale(10) 0;
            color: $yellow;
          }

          p {
            margin-top: 0;
          }
        }
      }

      .link {
        align-self: center;
        color: $yellow;
      }
    }
  }
}


// predictive-analytics
.predictive-analytics {

  .content-group {

    p span,
    .row p {
      color: $dark-blue;
    }
  }
}

// spot-trends
.spot-trends {

  .features-capsule-item {

    .icon {
      background: $yellow;
    }

    &:nth-child(2n + 2) {
      .icon {
        background: $yellow;
      }
    }
  }

  &-left {
    flex: 2.4;
    padding-right: scale(80);
  }

  &-right {
    flex: 2.6;
    padding-left: scale(80);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(20px, scale(30), 35px);
  }
}

// analyze-and-refine
.analyze-and-refine {

  &-left {
    flex: 2.4;
    padding-right: scale(50);
  }

  &-right {
    flex: 2.6;
    padding-left: scale(50);

    .checklist {
      margin-top: scale(20);
    }
  }
}
