.phase5 {

  .sub-header {

    .sub-header-left {

      .page-title {
        max-width: scale(440);
      }
    }
  }
}

.ready-made-reports {

  .card {

    >.container {
      align-items: center;

      >.col {

        &:nth-child(1) {
          flex: 2.6;
          padding-right: scale(50);
        }

        &:nth-child(2) {
          flex: 2.4;
          padding-left: scale(50);
        }
      }
    }
  }

  .analyze-features {

    .feature {
      align-items: center;

      .content {
        border-left: 2px solid $blue;
        padding-left: clamp(15px, scale(30), 30px);
      }
    }
  }
}

// continuous-improvement
.continuous-improvement {

  >.container {
    align-items: center;

    >.col {
      flex: 1;

      .checklist {
        margin: scale(30) 0;
      }

      &:nth-child(1) {
        padding-right: scale(50);
      }

      &:nth-child(2) {
        padding-left: scale(50);
      }
    }
  }
}


// share-insights-securely
.share-insights-securely {
  padding-bottom: 0 !important;

  .features-capsule {
    margin-top: scale(20);

    .features-capsule-item {

      .icon {
        background: $blue-light;
      }

      .content {

        span {
          color: $blue-light;
        }
      }

      &:nth-child(2n + 2) {

        .icon {
          background: $blue;
        }

        .content {

          span {
            color: $blue;
          }
        }
      }
    }
  }

  .col {
    flex: 1;
  }

  &-left {
    flex: 0 0 45%;
    padding-right: scale(80);
  }

  &-right {
    flex: 0 0 55%;
    padding-left: scale(80);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(20px, scale(30), 35px);
  }
}
