// comprehensive-view
.comprehensive-view {

  &-left {
    flex: 2.4;
    padding-right: scale(50);
  }

  &-right {
    flex: 2.6;
    padding-left: scale(50);
    border-left: 1px solid $gray-light;
  }
}

// customer-emotions
.customer-emotions {

  .card {
    @extend .gradient;
    color: $white;
  }

  .container {
    gap: scale(30);
  }

  .col {
    &:first-child {
      img {
        width: scale(125);
        height: scale(125);
      }
    }

    &.content {
      max-width: 80%;

      h3 {
        margin-bottom: scale(40);

        span {
          color: $yellow;
        }
      }

      p {
        font-size: scale(20);

        span {
          color: $yellow;
        }
      }

      h5 {
        font-size: scale(22);
        color: $yellow;
        font-weight: 500;
        font-style: italic;
        margin: 10px 0;
      }

      .row {
        display: flex;
        gap: 30px;

        .col {
          flex: 1;

          .icon {
            img {
              width: scale(86);
              height: scale(86);
            }
          }

          h4 {
            font-size: scale(22);
            margin: 10px 0;
            color: $yellow;
          }

          p {
            font-size: scale(20);
            margin-top: 0;
          }
        }
      }

      .link {
        align-self: center;
        color: $yellow;
      }
    }
  }
}


// spot-trends
.spot-trends {

  .features-capsule-item {

    .icon {
      background: $yellow;
    }

    &:nth-child(2n + 2) {
      .icon {
        background: $yellow;
      }
    }
  }

  &-left {
    flex: 2.4;
    padding-right: scale(80);
  }

  &-right {
    flex: 2.6;
    padding-left: scale(80);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: scale(30);
  }
}

// analyze-and-refine
.analyze-and-refine {

  &-left {
    flex: 2.4;
    padding-right: scale(50);
  }

  &-right {
    flex: 2.6;
    padding-left: scale(50);
    border-left: 1px solid $gray-light;
  }
}
