.employee-experience {
    &-left {
        flex: 3;
        position: relative;
        padding-right: scale(100);

        h3 {
            // font-size: scale(34);
            color: $dark-blue;
        }

        h2 {
            // font-size: scale(54);
            color: $yellow;
            font-style: italic;
        }

        .content {
            max-width: 90%;
            font-weight: 500;
            margin-bottom: 30px;

            ul {
                li {
                    list-style: disc;
                    margin-left: 30px;
                    font-size: clamp(16px, scale(20), 22px);
                }
            }
        }


    }

    &-right {
        flex: 2;
        padding-left: scale(100);

        h3 {
            // font-size: scale(34);
            color: $dark-blue;
            margin-bottom: 30px;
        }

        .benefit {
            display: flex;
            align-items: center;
            max-width: 80%;
            font-size: scale(20);
            gap: 12px;
        }
    }
}

.single-platform {

    .container {

        .col {

            &:first-child {
                flex: 1.6;
                position: relative;
                padding-right: scale(40);

                h3 {
                    color: $dark-blue;
                }
            }

            &:last-child {
                flex: 2.4;
                padding-left: scale(40);
                display: flex;
                flex-direction: column;
                gap: clamp(20px, scale(30), 34px);


                .benefit {
                    display: flex;
                    align-items: flex-start;
                    font-size: scale(20);
                    gap: clamp(12px, scale(15), 20px);

                    .content {
                        display: flex;
                        flex-direction: column;
                        gap: scale(6);

                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

}

.phases {
    background-color: $dark-blue;
    color: $white;

    .container {
        flex-direction: column;
        max-width: 800px;
    }

    .content {
        text-align: center;

        h3 {
            span {
                color: $yellow;
            }
        }
    }

    .cards-holder {

        .phase-card {
            display: flex;
            padding: clamp(28px, scale(30), 40px);
            background: $darkest-blue;
            border-radius: scale(18);
            gap: clamp(20px, scale(24), 30px);
            position: relative;
            margin-bottom: 74px;

            .icon {
                flex-shrink: 0;

            }

            .content {
                text-align: left;

                h4 {
                    font-size: clamp(20px, scale(24), 30px);

                }

                p {
                    margin-top: scale(15);
                    max-width: 90%;
                }

                .button {
                    background: $red;
                    flex-direction: row-reverse;
                    padding: 5px 5px 5px 10px;

                    &:before {
                        background: url(/images/icon-arrow-right-circled.svg) no-repeat center;
                    }

                    &.green {
                        background: $green;
                    }

                    &.yellow {
                        background: $yellow;
                    }

                    &.blue {
                        background: $blue;
                    }

                    &.light-blue {
                        background: $blue-light;
                    }
                }
            }

            &:after {
                content: "";
                height: 74px;
                width: clamp(22px, scale(24), 26px);
                display: inline-block;
                position: absolute;
                background: url(/images/arrow-down.svg) no-repeat bottom center;
                left: 50px;
                bottom: -74px;

                @include xs {
                    left: 0;
                    right: 0;
                    margin: auto;
                }

            }

            &:last-child {
                margin-bottom: 0;

                &:after {
                    display: none;
                }
            }
        }
    }
}

// real-time-trend-detection
.real-time-trend-detection {

    .card {
        @extend .gradient;
        color: $white;
    }

    h3 {

        span {
            color: $yellow;
        }
    }

    .card-blocks {
        @extend .container;
        margin-top: scale(50);

        &-item {
            border-width: 10px 0 0;
            box-shadow: none;

            h5 {
                color: $dark-blue;
            }

            p {
                color: $black;
            }
        }
    }
}

// customer-centric-culture
.customer-centric-culture {

    .container {

        h2 {
            color: $dark-blue;
        }

        hr {
            width: 100%;
        }
    }

    .card-blocks {
        padding: scale(40) 0 0;
        border-top: 2px solid $gray-light;

        &-item {
            border: 0;
            box-shadow: none;
            background: rgba($blue-lightest, 50%);
            border-top-color: $dark-blue;
            position: relative;
            overflow: hidden;
            padding: scale(60);
            gap: scale(15);

            h5 {
                color: $dark-blue;
            }

            &::before {
                content: '';
                width: 100%;
                height: 10px;
                @extend .gradient;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}

// empowering-employee
.empowering-employee {
    .container {
        flex-direction: column;
        align-items: center;
    }

    h4 {
        font-size: scale(26);
        color: $yellow;
        margin-top: scale(8);
    }

    .card {
        // @extend .gradient;
        background: $dark-blue;
        color: $white;
    }

    .row {
        margin: scale(60) 0;
        display: flex;
        width: 100%;
        gap: scale(80);

        .col {
            flex: 1;

            .col-content {
                display: flex;
                flex-direction: column;

                // gap: 20px;
                .icon {
                    margin-bottom: scale(16);
                }

                h4 {
                    font-size: clamp(24px, scale(24), 28px);
                    color: $yellow;
                }


            }
        }
    }
}


//supporting-team
.supporting-team {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    h3 {
        color: $dark-blue;
        text-align: center;
    }

    h4 {
        font-size: scale(26);
        margin-top: scale(8);
        text-align: center;
    }

    .image-holder {
        margin: scale(30) 0;
    }
}

//power-transformation
.power-transformation {
    .container {
        gap: 24px;
    }

    .col {
        flex: 1;
        display: flex;
        align-items: center;


    }

    .content {
        h3 {
            font-size: scale(38);
            color: $dark-blue
        }

        h4 {
            font-size: scale(22);
            margin-top: 8px;
            max-width: 80%;
        }


        p {
            padding-left: scale(55);
            font-style: italic;
        }

        .button {
            margin-left: scale(10);
            margin-top: scale(16);
        }
    }
}

// smart-survey
.smart-survey {
    .card {
        background: $red-light;
        box-shadow: none;
    }

    .col {
        flex: 1.6;
        align-items: center;
        display: flex;


        &:nth-child(2) {
            flex: 2.4;
            flex-direction: column;

            h4 {
                margin-bottom: scale(24);
            }
        }
    }

    .content {
        max-width: 80%;

        h3 {
            color: $dark-blue;
        }


    }
}

// real-results
.real-results {
    .col {
        flex: 1;
        align-items: center;
        display: flex;

        &:nth-child(2) {
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }


    }

    .content {
        max-width: 80%;

        h3 {
            font-size: scale(50);
            color: $dark-blue;
        }


    }
}


//transform-employee
.transform-employee {
    .card {
        @extend .gradient;
        color: $white;
    }

    .content {
        max-width: 700px;

        h3 {
            span {
                color: $yellow;
                font-style: italic;
            }
        }

        p {
            font-size: clamp(16px, scale(28), 30px);
        }
    }
}
