.phase1 {

	// Banner
	.banner {
		.container {
			gap: scale(50);

			.col {
				.content {
					max-width: none;
				}

				img {
					width: scale(500);
					height: auto;
				}
			}
		}
	}

	// Comprehensive Feedback
	.comprehensive-feedback {
		&-left {
			flex: 1;
			position: relative;
			padding-right: scale(100);
			border-right: 1px solid $gray-light;
			align-content: center;

			h2 {
				color: $dark-blue;

				span {
					color: $red;
				}
			}

			.button {
				background: $red;

				&:before {
					background-color: $white;
				}
			}
		}

		&-right {
			flex: 1;
			padding-left: scale(100);

			h3 {
				color: $dark-blue;
				margin-bottom: 20px;
				@extend .features-heading;
			}

			.benefit {
				display: flex;
				gap: 12px;
				margin-bottom: 16px;

				p {
					margin: 0;
				}

				img {
					width: scale(60);
					height: scale(60);
				}

				$class-suffixes: 100, 90, 80, 70;

				@for $i from 1 through length($class-suffixes) {
					&:nth-child(#{$i + 1}) {
						$suffix: nth($class-suffixes, $i);

						p span {
							@extend .red-#{$suffix};
							font-weight: 600;
						}
					}
				}
			}
		}
	}

	// Build Trust
	.build-trust {
		.card {
			@extend .gradient;
			color: white;
		}

		.container {
			gap: scale(30);
		}



		.col {
			&:first-child {
				img {
					width: scale(125);
					height: scale(125);
				}
			}

			&.content {
				max-width: 60%;

				h3 {
					span {
						color: $yellow;
					}
				}

				p {

					span {
						color: $yellow;
					}
				}

				h5 {
					font-size: scale(22);
					color: $yellow;
					font-weight: 500;
					font-style: italic;
					margin: 10px 0;
				}

				.row {
					display: flex;
					gap: 30px;

					.col {
						flex: 1;

						.icon {
							img {
								width: scale(86);
								height: scale(86);
							}
						}

						h4 {
							font-size: scale(22);
							margin: 10px 0;
							color: $yellow;
						}

						p {
							margin-top: 0;
						}
					}
				}
			}
		}
	}

	// Automation
	.automation {
		.container {
			gap: scale(50);

			&:first-child {
				flex-direction: column;
				gap: 0;

				h2 {
					color: $dark-blue;
				}

			}

			&:nth-child(2) {
				align-items: center;
			}
		}

		.col {
			&:nth-child(2) {
				img {
					width: scale(708);
					height: scale(444);
				}
			}
		}

		h5 {
			color: $dark-blue;
			@extend .features-heading;
			margin-bottom: 10px;
		}

		ul {
			margin: scale(10) 0;
			display: flex;
			flex-direction: column;
			padding-left: scale(10);
			gap: 8px;

			li {

				color: rgba($black, .7);

				p {
					margin: 0;
				}
			}
		}
	}

	// Proactive
	.proactive {
		.card {
			>.container {
				align-items: center;

				>.col {

					&:nth-child(1) {
						flex: 2.2;
						padding-right: scale(50);
						border-right: 1px solid $gray-light;
					}

					&:nth-child(2) {
						flex: 2.8;
						padding-left: scale(50);

						.container {
							gap: 30px;
							align-items: center;
						}
					}
				}
			}

			.content {
				h2 {
					color: $dark-blue;
				}



				.note {
					font-style: italic;

					span {
						font-weight: 600;
						color: $dark-blue;
						font-style: normal;
					}
				}
			}

			.key-features {
				text-align: center;
				margin-bottom: 16px;
			}

			.ternado {
				width: scale(303);
				height: scale(341);
			}

			.features {
				display: flex;
				flex-direction: column;
				gap: 22px;

				.feature {
					display: flex;
					gap: 20px;

					img {
						width: scale(60);
						height: scale(60);
					}

					.content {

						h5 {
							font-size: scale(20);
							margin-bottom: 8px;
						}

						p {
							margin: 0;
							font-size: scale(18);
							color: rgba($black, .7)
						}
					}

					&:nth-child(1) {
						h5 {
							color: $green;
						}
					}

					&:nth-child(2) {
						h5 {
							color: $red;
						}
					}

					&:nth-child(3) {
						h5 {
							color: $yellow;
						}
					}
				}
			}
		}
	}


	.why {

		.container {
			flex-direction: column;
			gap: scale(30);
			align-items: center;
		}

		h2 {
			color: $dark-blue;

			span {
				color: $red;
			}
		}


		.row {
			display: flex;
			gap: scale(20);

			.col {
				flex: 1;

				&:nth-child(2) {
					width: scale(380);
					flex: none;
					text-align: center;

					img {
						width: scale(366);
						height: auto;
					}
				}

				&:nth-child(1) {
					.feature {
						justify-content: end;
						text-align: right;
					}
				}
			}
		}

		h3 {
			text-align: center;
		}



		.feature {
			display: flex;
			gap: scale(20);
			margin-bottom: scale(90);

			.content {
				h5 {
					font-size: scale(25);
				}

				p {
					margin: 0;

				}
			}

			&:nth-child(1) {
				margin-top: 50px;
			}

			&.feature-1 {
				transform: translateX(scale(40));
			}

			&.feature-4 {
				transform: translateX(scale(-40));
			}
		}
	}

	.customer-journey-mapping {

		.card {
			@extend .gradient;
			color: white;
			display: flex;
			flex-direction: column;
			gap: scale(50);

			>.container {
				gap: scale(10);

				img {
					margin-bottom: scale(20);
					width: scale(88);
					height: auto;
				}

				h5 {
					color: $yellow;
				}

				.col {
					max-width: scale(350);
				}
			}
		}
	}

	.journey-first-approach {
		margin-bottom: scale(40);

		.section-title {
			margin-bottom: scale(20);
			text-align: center;

			span {
				color: $red;
			}
		}

		.card {
			padding-left: scale(220);
			position: relative;
			overflow: hidden;
			min-height: scale(900);

			.progress-steps {
				position: absolute;
				left: 0;
				top: 0;
				display: flex;
				flex-direction: column;
				gap: 2px;

				.step {
					display: flex;
					align-items: center;
					gap: scale(15);
					border-radius: 0 50px 50px 0;
					position: relative;
					font-size: scale(20);
					font-weight: 600;
					color: rgba($red, 0.28);

					.icon {
						background: $red-light;
						padding: scale(20) scale(40) scale(20) scale(30);
						border-radius: 0 50px 50px 0;

						img {
							opacity: 0.25;
						}
					}

					&.active {
						color: $white;
						background: $red;
						padding: scale(20) scale(40) scale(20) scale(30);

						.icon {
							padding: 0;
							background: transparent;

							img {
								opacity: 1;
							}
						}
					}
				}
			}

			.step-content {
				display: flex;
				gap: scale(200);
				width: 100%;
				align-items: center;

				.col {

					h3 {
						color: $red;
						margin: scale(20) 0;
					}

					h5 {
						margin-bottom: scale(10);
					}

					&:first-child {
						flex: 2.2;
					}

					&:last-child {
						flex: 2.3;
					}
				}

				&.step9 {
					max-width: scale(1100);
					flex-direction: column;
					gap: scale(10);
					align-items: flex-start;

					.row {
						display: flex;
						gap: scale(100);

						.col {
							flex: 1;
							display: flex;
							flex-direction: column;
							gap: scale(15);

							h5,
							p {
								margin: 0;
							}

							h5 {
								color: $red;
							}
						}
					}
				}
			}
		}
	}

	.business-impact {

		.card {
			@extend .gradient;
			color: white;

			.button {
				margin-top: scale(30);
			}
		}
	}

}