.phase1 {

	// Banner
	.banner {
		.container {
			h3 {
				color: $yellow;
				font-size: clamp(20px, scale(30), 32px);
				font-weight: 500;
			}

			.col {
				flex: 1;


				&:nth-child(2) {
					justify-content: center;
					display: flex;
				}

				.content {
					max-width: none;
				}
			}
		}
	}

	// Comprehensive Feedback
	.comprehensive-feedback {
		&-left {
			flex: 1;
			position: relative;
			padding-right: scale(100);
			align-content: center;

			h2 {
				color: $dark-blue;

				span {
					color: $red;
				}
			}

			.button {
				background: $red;

				&:before {
					background-color: $white;
				}
			}
		}

		&-right {
			flex: 1;
			padding-left: scale(100);

			h3 {
				color: $dark-blue;
				margin-bottom: 20px;
				@extend .features-heading;
			}

			.benefit {
				display: flex;
				gap: 12px;
				margin-bottom: 16px;

				p {
					margin: 0;
				}



				$class-suffixes: 100, 90, 80, 70;

				@for $i from 1 through length($class-suffixes) {
					&:nth-child(#{$i + 1}) {
						$suffix: nth($class-suffixes, $i);

						p span {
							@extend .red-#{$suffix};
							font-weight: 600;
						}
					}
				}
			}
		}
	}

	// Build Trust
	.build-trust {
		.card {
			@extend .gradient;
			color: white;
		}

		.container {
			gap: clamp(20px, scale(30), 35px);
		}

		.col {

			&.content {
				max-width: 60%;

				h2 {
					span {
						color: $yellow;
					}
				}

				h4 {
					color: $yellow;
				}

				.note {
					span {
						color: $yellow;
					}
				}

				@include sm {
					max-width: none;
				}
			}
		}
	}

	// Automation
	.automation {
		.container {
			gap: scale(50);

			&:first-child {
				flex-direction: column;
				gap: 0;

				h2 {
					color: $dark-blue;
				}

			}

			&:nth-child(2) {
				align-items: center;
			}
		}



		h5 {
			color: $dark-blue;
			@extend .features-heading;
			margin-bottom: 10px;
		}

		ul {
			margin: scale(10) 0;
			display: flex;
			flex-direction: column;
			padding-left: scale(10);
			gap: 8px;

			li {

				color: rgba($black, .7);

				p {
					margin: 0;
				}
			}
		}
	}

	// Proactive
	.proactive {
		.card {
			>.container {

				>.col {
					align-content: center;

					&:nth-child(1) {
						flex: 2.2;
						padding-right: scale(50);
					}

					&:nth-child(2) {
						flex: 2.8;
						padding-left: scale(50);

						.container {
							gap: 30px;
							align-items: center;
						}
					}
				}
			}

			.content {
				h2 {
					color: $dark-blue;
				}
			}

			.key-features {
				text-align: center;
				margin-bottom: 16px;
			}

			.ternado {
				flex-shrink: 0;
				max-width: none !important;
			}

			.features {
				display: flex;
				flex-direction: column;
				gap: 22px;

				.cards {
					flex-direction: column;

					.card {
						display: flex;
						gap: 20px;
						flex-direction: row;

						.icon {
							flex-shrink: 0;
						}

						.content {

							p {
								margin: 0;
								color: rgba($black, .7)
							}
						}

						&:nth-child(1) {
							h5 {
								color: $green;
							}
						}

						&:nth-child(2) {
							h5 {
								color: $red;
							}
						}

						&:nth-child(3) {
							h5 {
								color: $yellow;
							}
						}
					}
				}
			}
		}
	}


	.why {
		.container {
			flex-direction: column;
			gap: scale(30);
			align-items: center;
		}

		h2 {
			color: $dark-blue;

			span {
				color: $red;
			}
		}


		.row {
			display: flex;
			gap: scale(20);

			.col {
				flex: 1;

				&:nth-child(2) {
					width: scale(380);
					flex: none;
					text-align: center;
				}

				&:nth-child(1) {
					.feature {
						justify-content: end;
						text-align: right;
					}
				}


			}

			@include sm {
				flex-direction: column;
				margin-bottom: 0;
				gap: 0;

				.why-image {
					display: none;
				}
			}
		}

		.feature {
			display: flex;
			gap: scale(20);
			margin-bottom: scale(90);

			.content {
				h5 {
					font-size: scale(25);
				}

				p {
					margin: 0;

				}
			}

			&:nth-child(1) {
				margin-top: 50px;
			}

			&.feature-1 {
				transform: translateX(scale(40));
			}

			&.feature-4 {
				transform: translateX(scale(-40));
			}

			@include sm {
				text-align: left !important;
				transform: none !important;
				margin: 0 0 16px !important;
				gap: 16px;

				.icon {
					flex-shrink: 0;
				}

				.content {
					h5 {
						font-size: 18px;
					}
				}


				&.feature-1,
				&.feature-2 {
					flex-direction: row-reverse;
				}
			}
		}
	}

	.customer-journey-mapping {

		>.card {
			@extend .gradient;
			color: white;
			display: flex;
			flex-direction: column;
			gap: clamp(30px, scale(50), 55px);

			>.container {

				.cards {
					max-width: scale(1200);

					@include lg {
						max-width: none;
					}
				}

				h3 {

					span {
						display: block;
						color: $yellow;
						font-size: clamp(12px, scale(24), 26px);
						margin-bottom: scale(16);
					}
				}
			}

		}
	}

	.journey-first-approach {
		margin-bottom: scale(40);

		.section-title {
			margin-bottom: scale(20);
			text-align: center;

			span {
				color: $red;
			}
		}

		.card {
			position: relative;
			display: flex;
			align-items: center;
			gap: scale(50);

			.container {
				flex: 1;
			}

			.progress-steps {
				left: 0;
				top: 0;
				display: flex;
				flex-direction: column;
				gap: 2px;

				.step {
					display: flex;
					align-items: center;
					gap: scale(50);
					border-radius: 0 50px 50px 0;
					position: relative;
					font-size: clamp(14px, scale(20), 20px);
					font-weight: 600;
					color: rgba($red, 0.28);
					z-index: 1;
					transition: .35s;
					padding: scale(20) scale(40) scale(20) scale(30);

					.icon {
						img {
							opacity: 0.25;
							vertical-align: top;
							transition: .35s;
						}
					}

					&.active {
						color: $white;
						gap: scale(15);

						.icon {

							img {
								opacity: 1;
							}
						}

						&:before {
							width: 90%;
							background: $red;
						}
					}

					&:before {
						content: "";
						background: $red-light;
						position: absolute;
						left: 0;
						top: 0;
						height: 100%;
						width: 50%;
						border-radius: 0 100px 100px 0;
						z-index: -1;
						transition: .35s;


					}
				}
			}

			.step-content {
				display: flex;
				gap: scale(200);
				width: 100%;
				align-items: center;

				@include sm {
					flex-direction: column;
				}

				.col {

					h3 {
						color: $red;
						margin: scale(20) 0;
					}

					h5 {
						margin-top: clamp(10px, scale(15), 18px);
					}

					.checklist {
						margin: clamp(20px, scale(30), 24px) 0;
					}

					&:first-child {
						flex: 2.2;
					}

					&:last-child {
						flex: 2.3;
					}
				}

				&.step9 {
					max-width: scale(1100);
					flex-direction: column;
					gap: scale(10);
					align-items: flex-start;

					@include sm {
						max-width: none;
					}

					.row {
						display: flex;
						gap: clamp(20px, scale(100), 100px);

						@include sm {
							flex-direction: column;
						}

						.col {
							flex: 1;
							display: flex;
							flex-direction: column;
							gap: scale(15);

							h5,
							p {
								margin: 0;
							}

							h5 {
								color: $red;
							}
						}
					}
				}
			}

			@include xs {
				flex-direction: column;
				gap: 30px;

				.progress-steps {
					flex-direction: row;
					width: 100%;
					overflow: auto;

					.step {
						display: flex;
						flex-direction: column;
						text-align: center;
						border-radius: 5px;
						background: $red-light;
						padding: 10px 12px;
						min-width: 70px;

						&.active {
							background: $red;
							gap: scale(50);
						}

						&::before {
							content: none;
						}
					}
				}
			}
		}
	}

	.business-impact {

		.card {
			@extend .gradient;
			color: white;

			>.container {
				justify-content: space-between;
			}

			.content-group {
				flex: 1;
				max-width: clamp(550px, scale(700), 750px);

				@include md {
					max-width: none;
				}
			}

			.button {
				margin-top: scale(30);
			}
		}
	}

}