.ex-phase3 {

	// Banner
	.banner {
		.container {
			gap: scale(50);
		}
	}


	// holistic
	.holistic {
		.col {
			flex: 1;

			&:first-child {
				padding-right: scale(50);
				align-content: center;
			}

			&:nth-child(2) {
				padding-left: scale(50);
			}
		}

		.features {
			display: flex;
			flex-direction: column;
			gap: 10px;

			ul {
				display: flex;
				flex-direction: column;
				gap: 0px;
			}

			.feature {
				display: flex;
				gap: 16px;


				.icon {
					flex-shrink: 0;
				}

				.content {
					margin: 0;

					span {
						font-weight: 600
					}
				}

				@include sm {
					margin-bottom: 10px;
				}
			}
		}
	}


	// Overlay
	.overlay {
		.container {
			align-items: center;
			gap: scale(50);

			.col-left,
			.col-right {
				flex: 1;
			}
		}

		.col-right {
			h4 {
				text-align: center;
				color: $dark-blue;
			}

			.features {
				display: flex;
				flex-direction: column;
				gap: 20px;

				.feature {
					display: flex;
					align-items: center;
					gap: 20px;

					.icon,
					.content {
						flex: 1;
						box-sizing: border-box;
					}

					.icon {
						background-color: $yellow-dark;
						display: flex;
						align-items: center;
						padding: 24px 10px;
						border-radius: 100px 0 0 100px;
						gap: 10px;
						color: white;
						font-size: clamp(16px, scale(20), 22px);
						font-weight: 600;
						flex-shrink: 0;


						img {
							margin-left: 16px;
							display: inline-block;
							flex-shrink: 0;

							@include sm {
								max-width: none !important;
								width: 32px !important;
							}
						}
					}

					.content {
						font-size: clamp(16px, scale(20), 22px);
					}

					$class-suffixes: 100, 90, 80, 70;

					@for $i from 1 through length($class-suffixes) {
						&:nth-child(#{$i}) {
							$suffix: nth($class-suffixes, $i);

							.icon {
								@extend .yellow-bg-#{$suffix};
							}

							.content span {
								@extend .yellow-#{$suffix};
								font-weight: 600;
							}
						}
					}

					&:nth-child(2n + 2) {
						flex-direction: row-reverse;

						.icon {
							border-radius: 0 100px 100px 0;
						}

						.content {
							text-align: right;
						}
					}
				}
			}
		}
	}



	// Decode
	.decode {
		.card {
			@extend .gradient;
			color: white;

			.container {
				gap: scale(30);

				.col {
					&.content {
						max-width: 90%;
					}
				}
			}
		}
	}


	// Trends
	.trends {

		.col {
			flex: 1;
		}

		.image-container {
			text-align: right;
			align-content: center;
		}
	}

}