.ex-phase4 {

	// Banner
	.banner {
		.container {
			gap: scale(50);

			.col {
				.content {
					max-width: none;
				}

				img {
					width: scale(515);
					height: scale(515);
				}
			}
		}
	}


	// Reports
	.reports {
		.col {
			flex: 1;

			&:first-child {

				padding-right: scale(50);
				border-right: 1px solid $gray-light;
				align-content: center;

				.button {
					background: $blue-light;

					&:before {
						background-color: white;
					}
				}
			}

			&:nth-child(2) {
				padding-left: scale(50);
			}
		}

		.features {
			flex: 1.5;
			display: flex;
			flex-direction: column;
			gap: 10px;


			.image-container {
				width: scale(516);
				height: scale(350);
				position: relative;
				margin: auto;

				img {
					width: scale(516);
					height: scale(350);
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					margin: auto;
					text-align: center;
					display: inline-block;
				}
			}

			h4 {
				width: 100%;
				text-align: center;
			}

			ul {
				display: flex;
				flex-direction: column;
				gap: 10px;

				li {
					position: absolute;

					&:nth-child(1) {
						top: scale(-30);
						left: scale(-180);
					}

					&:nth-child(2) {
						top: scale(-10);
						right: scale(-200);
					}

					&:nth-child(3) {
						top: scale(140);
						left: scale(-180);
					}
				}
			}

			.feature {
				display: flex;
				gap: 16px;
				width: scale(180);
				text-align: left;

				.content {
					font-size: scale(16);

					span {
						font-weight: 600
					}
				}


			}
		}
	}


	// Overlay
	.dashboard {
		.container {
			align-items: center;
			gap: scale(50);
		}

		.col-left,
		.col-right {
			flex: 1;

			.button {
				background: $blue-light;

				&:before {
					background-color: white;
				}
			}
		}

		.col-left {
			img {
				width: scale(732);
				height: scale(443);
			}
		}

	}



	// Insights
	.insights {
		.card {
			@extend .gradient;
			color: white;
		}

		.container {
			gap: scale(30);
		}

		.col {
			&:first-child {
				img {
					width: scale(125);
					height: scale(125);
				}
			}

			&.content {
				max-width: 50%;
			}
		}
	}


	.lifecycle {
		.container {
			gap: 50px;

			.col {
				flex: 1;
				align-content: center;

				.button {
					background: $blue-light;

					&:before {
						background-color: white;
					}
				}
			}
		}


		.col-right {
			.features {
				display: flex;
				flex-direction: column;
				gap: 20px;

				.feature {
					display: flex;
					align-items: center;
					gap: 20px;

					.icon,
					.content {
						flex: 1;
						box-sizing: border-box;
					}

					.icon {
						background-color: $blue-light;
						display: flex;
						align-items: center;
						padding: 24px 10px;
						border-radius: 100px 0 0 100px;
						gap: 10px;
						color: white;
						font-size: scale(20);
						font-weight: 600;

						img {
							margin-left: 16px;
							display: inline-block;
						}
					}

					.content {
						font-size: scale(20);

						span {
							color: $blue-light;
							font-weight: 500;
						}
					}



					&:nth-child(2n + 2) {
						flex-direction: row-reverse;

						.icon {
							border-radius: 0 100px 100px 0;
							background-color: $blue;
						}

						.content {
							text-align: right;
						}
					}
				}
			}
		}




	}

	.secure-sharing {
		.col {
			align-content: center;
			flex: 1;

			.button {
				background: $blue-light;

				&:before {
					background-color: white;
				}
			}
		}

		.col-left {
			justify-content: center;
			display: flex;
			flex-direction: column;
			align-items: center;

			img {
				width: scale(571);
				height: scale(365);
			}
		}
	}

	.prove-impact {

		.button {
			background: $blue-light;

			&:before {
				background-color: white;
			}
		}
	}

	// continuous
	.continuous {
		color: white;

		.card {
			@extend .gradient;

			.container {
				.col-icon {
					img {
						width: scale(95);
						height: scale(95);
					}
				}

				.col-content {
					max-width: 70%;

				}
			}
		}
	}



}