.ex-phase3 {

	// Banner
	.banner {
		.container {
			gap: scale(50);

			.col {
				.content {
					max-width: none;
				}

				img {
					width: scale(782);
					height: scale(389);
				}
			}
		}
	}


	// holistic
	.holistic {
		.col {
			flex: 1;

			&:first-child {
				padding-right: scale(50);
				border-right: 1px solid $gray-light;
				align-content: center;
			}

			&:nth-child(2) {
				padding-left: scale(50);
			}
		}

		.features {
			display: flex;
			flex-direction: column;
			gap: 10px;

			ul {
				display: flex;
				flex-direction: column;
				gap: 10px;
			}

			.feature {
				display: flex;
				gap: 16px;

				.icon {
					img {
						width: scale(72);
						height: scale(84);
					}
				}

				.content {
					font-size: scale(20);

					span {
						font-weight: 600
					}
				}
			}
		}
	}


	// Overlay
	.overlay {
		.container {
			align-items: center;
			gap: scale(50);

			.col-left,
			.col-right {
				flex: 1;
			}
		}

		.col-right {
			h4 {
				text-align: center;
				color: $dark-blue;
			}

			.features {
				display: flex;
				flex-direction: column;
				gap: 20px;

				.feature {
					display: flex;
					align-items: center;
					gap: 20px;

					.icon,
					.content {
						flex: 1;
						box-sizing: border-box;
					}

					.icon {
						background-color: $yellow-dark;
						display: flex;
						align-items: center;
						padding: 24px 10px;
						border-radius: 100px 0 0 100px;
						gap: 10px;
						color: white;
						font-size: scale(20);
						font-weight: 600;

						img {
							margin-left: 16px;
							display: inline-block;
						}
					}

					.content {
						font-size: scale(20);
					}

					$class-suffixes: 100, 90, 80, 70;

					@for $i from 1 through length($class-suffixes) {
						&:nth-child(#{$i}) {
							$suffix: nth($class-suffixes, $i);

							.icon {
								@extend .yellow-bg-#{$suffix};
							}

							.content span {
								@extend .yellow-#{$suffix};
								font-weight: 600;
							}
						}
					}

					&:nth-child(2n + 2) {
						flex-direction: row-reverse;

						.icon {
							border-radius: 0 100px 100px 0;
						}

						.content {
							text-align: right;
						}
					}
				}
			}
		}
	}



	// Decode
	.decode {
		.card {
			@extend .gradient;
			color: white;

			.container {
				gap: scale(30);

				.col {
					&.col-icon {
						img {
							width: scale(125);
							height: scale(125);
						}
					}

					&.content {
						max-width: 90%;
					}
				}
			}
		}
	}


	// Trends
	.trends {

		.col {
			flex: 1;
		}

		.image-container {
			text-align: right;
			align-content: center;

			img {
				width: scale(689);
				height: scale(437);
			}
		}
	}

}