.ex-phase2 {

	// Banner
	.banner {
		.container {
			gap: scale(50);

			.col {
				.content {
					max-width: none;
				}
			}
		}
	}



	// omni-channel
	.lifecycle {
		.section-header {
			span {
				display: block;

				@include sm {
					display: inline;
				}
			}
		}
	}


	.approach {

		.section-header {
			width: 100%;
			text-align: center;

			@include sm {
				text-align: left;
			}
		}

		.progress-bar {
			display: flex;
			overflow: hidden;
			justify-content: center;
			width: 90%;
			margin: scale(30) auto;


			.step {
				position: relative;
				background-color: #E9E7E7;
				color: rgba($black, .5);
				padding: scale(10) scale(20);
				display: flex;
				align-items: center;
				justify-content: center;
				clip-path: polygon(0% 0%,
						calc(100% - scale(25)) 0%,
						100% 50%,
						calc(100% - scale(25)) 100%,
						0% 100%,
						scale(25)50%);
				flex: 1;
				margin-right: scale(-10);
				z-index: 1;
				font-size: scale(28);



				&:first-child {
					border-radius: 50vw 0 0 50vw;
					clip-path: polygon(0% 0%,
							calc(100% - scale(25)) 0%,
							100% 50%,
							calc(100% - scale(25)) 100%,
							0% 100%,
							0 50%);
				}

				&:last-child {
					border-radius: 0 50vw 50vw 0;
					clip-path: polygon(0% 0%,
							100% 0%,
							100% 50%,
							100% 100%,
							0% 100%,
							scale(25) 50%);
					margin-right: 0;
				}

				&.active {
					background-color: $green;
					color: #fff;
					font-weight: 500;
					z-index: 2;
				}
			}

			@include sm {
				width: 100%;

				.step {
					font-size: 14px;
					padding: 10px 0;
				}
			}
		}

		.stage {
			display: flex;
			gap: scale(40);
			align-items: center;

			h3 {
				font-size: clamp(24px, scale(32), 48px);
				color: $dark-blue;
				text-align: left;


			}

			p {
				text-align: left;
				font-size: clamp(16px, scale(27), 27px);
				margin: 10px 0;
			}

			.col {
				flex: 2.5;

				&:first-child {
					flex: 2;
				}
			}

			@include sm {
				margin-top: 30px;
				flex-direction: column;
				gap: 50px;

				h3 {
					font-weight: 400;
				}
			}
		}

	}



	//transform-employee
	.mapping {
		.card {
			@extend .gradient;
			color: $white;
		}

		.content {
			max-width: 50%;

			@include sm {
				max-width: none;
			}
		}
	}
}