// problems
.problems {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: url('/images/home/problems/problem-ref.png') no-repeat center;

    .container {
        justify-content: center;
        align-items: center;
    }

    .heading {
        font-size: scale(100);
        text-transform: uppercase;
        color: $red;
        position: absolute;

        &.solution {
            color: $green;
            overflow: hidden;
        }
    }

    .icons-problem {
        position: relative;

        .icon {
            position: absolute;

            &.one {
                right: 271px;
                top: -357px;

                img {
                    width: clamp(250px, scale(280), 300px);
                }
            }

            &.two {
                left: -84px;
                top: -500px;

                img {
                    width: clamp(325px, scale(376), 400px);
                }
            }

            &.three {
                left: 350px;
                top: -227px;

                img {
                    width: clamp(350px, scale(397), 440px);
                }
            }

            &.four {
                left: 25px;
                top: 100px;

                img {
                    width: clamp(280px, scale(309), 350px);
                }
            }

            &.five {
                left: -489px;
                top: 66px;

                img {
                    width: clamp(280px, scale(313), 350px);
                }
            }
        }
    }

    .icons-solution {
        position: relative;

        .icon {
            position: absolute;

            &.one {
                right: 323px;
                top: -357px;

                img {
                    width: clamp(250px, scale(280), 300px);
                }
            }

            &.two {
                left: -136px;
                top: -500px;

                img {
                    width: clamp(325px, scale(376), 400px);
                }
            }

            &.three {
                left: 298px;
                top: -227px;

                img {
                    width: clamp(350px, scale(397), 440px);
                }
            }

            &.four {
                left: -28px;
                top: 100px;

                img {
                    width: clamp(280px, scale(309), 350px);
                }
            }

            &.five {
                left: -542px;
                top: 66px;

                img {
                    width: clamp(280px, scale(313), 350px);
                }
            }
        }
    }
}


// power-insights
.power-insights {
    color: $white;
    @extend .gradient;

    .section-title {
        @include xs {
            text-align: center;
        }

        span {
            color: $yellow;
        }
    }

    .channels-feedback-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: scale(50);
        margin-bottom: scale(80);
    }
}


// strategy-path
.strategy-path {
    background-color: $red-light;

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(30px, scale(50), 55px);

        .section-title {
            text-align: center;
        }

        .strategy-illustration-container {
            position: relative;
            margin-bottom: scale(60);

            .strategy-path-point {
                position: absolute;
                width: clamp(130px, scale(370), 400px);
                max-width: 100%;

                img {
                    display: none;
                    @include xs {
                        display: block;
                    }
                }

                h5 {
                    margin: 0 0 scale(5);
                }

                p {
                    margin: 0;
                }

                &:nth-of-type(1) {
                    right: calc(100% + scale(10));
                    top: scale(64);
                    text-align: right;
                }

                &:nth-of-type(2) {
                    right: calc(100% - scale(90));
                    top: calc(100% - scale(30));
                    text-align: right;
                }

                &:nth-of-type(3) {
                    left: calc(100% - scale(90));
                    top: calc(100% - scale(30));
                }

                &:nth-of-type(4) {
                    left: calc(100% + scale(10));
                    top: scale(64);
                }
            }

            @include xs {
                display: flex;

                > img {
                    display: none;
                }

                .strategy-path-point {
                    border: 1px solid red;
                    position: relative;
                    width: 80px;
                    top: 0 !important;
                    left: 0 !important;
                    right: 0 !important;
                    text-align: left !important;
                    padding-top: 190px;

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                    }

                    &::before {
                        width: 14px;
                        height: 174px;
                        background-color: $red;
                        display: block;
                        left: 0;
                        top: 0;
                    }

                    &::after {
                        width: 0px;
                        height: 0px;
                        border-left: 16px solid transparent;
                        border-right: 16px solid transparent;
                        border-top: 16px solid $red;
                        top: 173px;
                        left: -9px;
                    }
                }
            }
        }
    }
}


// drive-decisions
.drive-decisions {

    .container {
        align-items: flex-start;
        gap: scale(35);
    }

    .section-title {
        color: $dark-blue;

        span {
            color: $blue;
        }
    }

    .steps-row {
        display: flex;
        width: 100%;
        gap: 5px;

        .steps-col {
            flex: 1;
            position: relative;
            overflow: hidden;

            .image-wrapper {
                position: relative;
                z-index: 1;
                height: scale(110);

                img {
                    width: scale(110);
                    height: auto;
                }

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    z-index: -1;
                }

                &:before {
                    left: 1px;
                    width: calc(100% - 3px);
                    height: 0;
                    border-bottom: 2px dashed $dark-blue;
                }

                &:after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-top: 8px solid transparent;
                    border-left: 16px solid $dark-blue;
                    border-bottom: 8px solid transparent;
                    right: 0;
                }
            }

            p {
                max-width: scale(380);
                font-size: scale(28);
                margin-top: scale(20);
                margin-bottom: 0;
            }

            &:last-child {
                flex: 0 1 auto;

                .image-wrapper {

                    &::before,
                    &::after {
                        content: none;
                    }
                }
            }
        }
    }
}


//compliance
.compliance {

    .container {
        gap: 0;
    }

    .compliance-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: clamp(30px, scale(50), 55px);
        margin-bottom: scale(30);

        .section-title {
            color: $dark-blue;
            max-width: 50%;
            font-size: scale(56);
        }

        .awards-container {
            display: flex;
            align-items: center;
            gap: scale(14);
            max-width: 50%;

            img {
                width: scale(157);
                height: auto;
            }
        }
    }

    .compliance-blocks {
        display: flex;
        gap: clamp(20px, scale(30), 35px);

        .box {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: $dark-blue;
            border-radius: scale(20);
            padding: scale(50) scale(40);

            .title {
                color: $yellow;
                margin-bottom: scale(15);
            }

            .copy {
                color: $white;
                font-size: scale(26);
            }
        }
    }
}
