// problems
.problems {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: url('/images/home/problems/problem-ref.png') no-repeat center;

    .container {
        justify-content: center;
        align-items: center;
    }

    .heading {
        font-size: scale(100);
        text-transform: uppercase;
        color: $red;
        position: absolute;

        &.solution {
            color: $green;
            overflow: hidden;
        }
    }

    .icons-problem {
        position: relative;

        .icon {
            position: absolute;

            &.one {
                right: 271px;
                top: -357px;

                img {
                    width: clamp(250px, scale(280), 300px);
                }
            }

            &.two {
                left: -84px;
                top: -500px;

                img {
                    width: clamp(325px, scale(376), 400px);
                }
            }

            &.three {
                left: 350px;
                top: -227px;

                img {
                    width: clamp(350px, scale(397), 440px);
                }
            }

            &.four {
                left: 25px;
                top: 100px;

                img {
                    width: clamp(280px, scale(309), 350px);
                }
            }

            &.five {
                left: -489px;
                top: 66px;

                img {
                    width: clamp(280px, scale(313), 350px);
                }
            }
        }
    }

    .icons-solution {
        position: relative;

        .icon {
            position: absolute;

            &.one {
                right: 323px;
                top: -357px;

                img {
                    width: clamp(250px, scale(280), 300px);
                }
            }

            &.two {
                left: -136px;
                top: -500px;

                img {
                    width: clamp(325px, scale(376), 400px);
                }
            }

            &.three {
                left: 298px;
                top: -227px;

                img {
                    width: clamp(350px, scale(397), 440px);
                }
            }

            &.four {
                left: -28px;
                top: 100px;

                img {
                    width: clamp(280px, scale(309), 350px);
                }
            }

            &.five {
                left: -542px;
                top: 66px;

                img {
                    width: clamp(280px, scale(313), 350px);
                }
            }
        }
    }
}


// power-insights
.power-insights {
    color: $white;
    @extend .gradient;

    .section-title {

        span {
            color: $yellow;
        }
    }

    .channels-feedback-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: scale(50);
        margin-bottom: scale(80);

        img {
            max-width: 100%;
            height: auto;
        }
    }
}


// strategy-path
.strategy-path {
    background-color: $red-light;

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: scale(50);

        .section-title {
            text-align: center;
        }

        .strategy-illustration-container {
            position: relative;
            margin-bottom: scale(60);

            img {
                max-width: scale(530);
                height: auto;
            }

            .strategy-path-point {
                position: absolute;
                width: scale(370);
                max-width: 100%;

                h5 {
                    margin: 0 0 scale(5);
                }

                p {
                    margin: 0;
                }

                &:nth-of-type(1) {
                    right: calc(100% + scale(10));
                    top: scale(64);
                    text-align: right;

                    h5 {
                        color: $red;
                    }
                }

                &:nth-of-type(2) {
                    right: calc(100% - scale(90));
                    top: calc(100% - scale(30));
                    text-align: right;

                    h5 {
                        color: $yellow;
                    }
                }

                &:nth-of-type(3) {
                    left: calc(100% - scale(90));
                    top: calc(100% - scale(30));

                    h5 {
                        color: $green;
                    }
                }

                &:nth-of-type(4) {
                    left: calc(100% + scale(10));
                    top: scale(64);

                    h5 {
                        color: $blue;
                    }
                }
            }
        }
    }
}


// senticx
.senticx {
    background: linear-gradient(135deg, rgba(0, 59, 109, 1) 0%, rgba(0, 114, 211, 1) 100%);

    .container {
        flex-direction: column;
        align-items: center;
        gap: scale(25);
    }

    .section-header {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .logos-container {
            display: flex;
            align-items: center;

            .sentiex-logo {
                opacity: 0.74;

            }

            .vertical-bar {
                width: 2px;
                height: 100px;
                background: $white;
                margin: 0 scale(40);
            }

        }

        a {
            align-self: flex-start;
            color: $white;
            display: flex;
            align-items: center;
            gap: scale(12);
        }
    }

    .senticx-overview-container {
        display: flex;
        margin-top: scale(50);

        img {
            width: scale(1092);
            max-width: 100%;
            height: auto;
        }

        .content-left,
        .content-right {
            color: $white;
            font-size: scale(24);
            border-top: 2px solid $white;
            max-width: scale(400);
            padding-top: scale(20);
            margin-top: scale(80);
        }
    }



    .senticx-slider {
        position: relative;
        width: 100%;
        overflow: hidden;

        .nav {
            justify-content: center;

            display: flex;
            align-items: center;
            gap: scale(8);

            li {
                display: flex;
                align-items: center;


                label {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }

                .number,
                .text {
                    font-size: scale(24);
                    color: $white;
                }

                .number {
                    width: scale(46);
                    height: scale(46);
                    border-radius: 50%;
                    border: 2px solid $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0.5;
                }

                .text {
                    max-width: 0;
                    overflow: hidden;
                    transition: 1s;
                    white-space: nowrap;
                }


            }
        }
    }

    input[type="radio"] {
        display: none;
    }

    .slides {
        display: flex;
        transition: transform 0.6s ease;
        width: 400%;
        /* 3 slides */
    }

    .slide {
        width: 25%;
        // flex: 1;
        box-sizing: border-box;
    }

    /* Slide navigation using radio buttons */
    #slide1:checked~.slides {
        transform: translateX(0%);
    }

    #slide2:checked~.slides {
        transform: translateX(-25%);
    }

    #slide3:checked~.slides {
        transform: translateX(-50%);
    }

    #slide4:checked~.slides {
        transform: translateX(-75%);
    }



    input#slide1:checked~.nav label[for="slide1"],
    input#slide2:checked~.nav label[for="slide2"],
    input#slide3:checked~.nav label[for="slide3"],
    input#slide4:checked~.nav label[for="slide4"] {

        .number {
            opacity: 1;
        }

        .text {
            max-width: scale(230);
            display: flex;
        }



    }

}


// drive-decisions
.drive-decisions {

    .container {
        align-items: flex-start;
        gap: scale(35);
    }

    .section-title {
        color: $dark-blue;

        span {
            color: $blue;
        }
    }

    .steps-row {
        display: flex;
        width: 100%;
        gap: 5px;

        .steps-col {
            flex: 1;
            position: relative;
            overflow: hidden;

            .image-wrapper {
                position: relative;
                z-index: 1;
                height: scale(110);

                img {
                    width: scale(110);
                    height: auto;
                }

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    z-index: -1;
                }

                &:before {
                    width: calc(100% - 2px);
                    height: 0;
                    border-bottom: 2px dashed $dark-blue;
                }

                &:after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-top: 8px solid transparent;
                    border-left: 16px solid $dark-blue;
                    border-bottom: 8px solid transparent;
                    right: 0;
                }
            }

            p {
                max-width: scale(380);
                font-size: scale(28);
                margin-top: scale(20);
                margin-bottom: 0;
            }

            &:last-child {
                flex: 0 1 auto;

                .image-wrapper {

                    &::before,
                    &::after {
                        content: none;
                    }
                }
            }
        }
    }
}


//compliance
.compliance {

    .compliance-header {
        width: 100%;
        display: flex;
        margin-bottom: scale(40);

        .section-title {
            color: $dark-blue;
            width: 50%;
        }

        .awards-container {
            display: flex;
            align-items: center;
            gap: scale(14);
            width: 50%;

            img {
                width: scale(157);
                height: auto;
            }
        }
    }

    .compliance-blocks {
        display: flex;
        gap: scale(30);

        .box {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: $dark-blue;
            border-radius: 20px;
            padding: scale(50) scale(40);

            .title {
                color: $yellow;
                margin-bottom: scale(15);
            }

            .copy {
                color: $white;
                font-size: scale(26);
            }
        }
    }
}