// problems
.problems {
    // height: 100vh;
    border: 2px solid red;
}


// power-insights
.power-insights {
    color: $white;
    @extend .gradient;

    .section-title {

        span {
            color: $yellow;
        }
    }

    .channels-feedback-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: scale(50);
        margin-bottom: scale(80);

        img {
            max-width: 100%;
            height: auto;
        }
    }
}


// strategy-path
.strategy-path {
    background-color: $red-light;

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: scale(50);

        .section-title {
            text-align: center;
        }

        .strategy-illustration-container {
            position: relative;
            margin-bottom: scale(60);

            img {
                max-width: scale(530);
                height: auto;
            }

            .strategy-path-point {
                position: absolute;
                width: scale(370);
                max-width: 100%;

                h5 {
                    margin: 0 0 scale(5);
                }

                p {
                    margin: 0;
                }

                &:nth-of-type(1) {
                    right: calc(100% + scale(10));
                    top: scale(64);
                    text-align: right;

                    h5 {
                        color: $red;
                    }
                }

                &:nth-of-type(2) {
                    right: calc(100% - scale(90));
                    top: calc(100% - scale(30));
                    text-align: right;

                    h5 {
                        color: $yellow;
                    }
                }

                &:nth-of-type(3) {
                    left: calc(100% - scale(90));
                    top: calc(100% - scale(30));

                    h5 {
                        color: $green;
                    }
                }

                &:nth-of-type(4) {
                    left: calc(100% + scale(10));
                    top: scale(64);

                    h5 {
                        color: $blue;
                    }
                }
            }
        }
    }
}


// senticx
.senticx {
    background: linear-gradient(135deg, rgba(0, 59, 109, 1) 0%, rgba(0, 114, 211, 1) 100%);

    .container {
        flex-direction: column;
        align-items: center;
        gap: scale(25);
    }

    .section-header {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .logos-container {
            display: flex;
            align-items: center;

            .sentiex-logo {
                opacity: 0.74;

            }

            .vertical-bar {
                width: 2px;
                height: 100px;
                background: $white;
                margin: 0 scale(40);
            }

        }

        a {
            align-self: flex-start;
            color: $white;
            display: flex;
            align-items: center;
            gap: scale(12);
        }
    }

    .senticx-overview-container {
        display: flex;
        margin-top: scale(50);

        img {
            width: scale(1092);
            max-width: 100%;
            height: auto;
        }

        .content-left,
        .content-right {
            color: $white;
            font-size: scale(24);
            border-top: 2px solid $white;
            max-width: scale(400);
            padding-top: scale(20);
            margin-top: scale(80);
        }
    }

    .overview-steps {

        ul {
            display: flex;
            align-items: center;
            gap: scale(30);

            li {
                display: flex;
                align-items: center;
                gap: scale(10);

                .number,
                .text {
                    font-size: scale(24);
                    color: $white;
                }

                .number {
                    width: scale(46);
                    height: scale(46);
                    border-radius: 50%;
                    border: 2px solid $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0.5;
                }

                .text {
                    display: none;
                }

                &.active {

                    .number,
                    .text {
                        opacity: 1;
                    }

                    .text {
                        display: block;
                    }
                }
            }
        }
    }
}


// drive-decisions
.drive-decisions {

    .container {
        align-items: flex-start;
        gap: scale(35);
    }

    .section-title {
        color: $dark-blue;

        span {
            color: $blue;
        }
    }

    .steps-row {
        display: flex;
        width: 100%;
        gap: 5px;

        .steps-col {
            flex: 1;
            position: relative;
            overflow: hidden;

            .image-wrapper {
                position: relative;
                z-index: 1;
                height: scale(110);

                img {
                    width: scale(110);
                    height: auto;
                }

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    z-index: -1;
                }

                &:before {
                    width: calc(100% - 2px);
                    height: 0;
                    border-bottom: 2px dashed $dark-blue;
                }

                &:after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-top: 8px solid transparent;
                    border-left: 16px solid $dark-blue;
                    border-bottom: 8px solid transparent;
                    right: 0;
                }
            }

            p {
                max-width: scale(380);
                font-size: scale(28);
                margin-top: scale(20);
                margin-bottom: 0;
            }

            &:last-child {
                flex: 0 1 auto;

                .image-wrapper {

                    &::before,
                    &::after {
                        content: none;
                    }
                }
            }
        }
    }
}


//compliance
.compliance {

    .compliance-header {
        width: 100%;
        display: flex;
        margin-bottom: scale(40);

        .section-title {
            color: $dark-blue;
            width: 50%;
        }

        .awards-container {
            display: flex;
            align-items: center;
            gap: scale(14);
            width: 50%;

            img {
                width: scale(157);
                height: auto;
            }
        }
    }

    .compliance-blocks {
        display: flex;
        gap: scale(30);

        .box {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: $dark-blue;
            border-radius: 20px;
            padding: scale(50) scale(40);

            .title {
                color: $yellow;
                margin-bottom: scale(15);
            }

            .copy {
                color: $white;
                font-size: scale(26);
            }
        }
    }
}