.our-services {
  overflow: hidden;

  .banner {

    .content {
      margin: auto;
      text-align: center;
    }
  }

  .right-path-for-org {

    .card {
      .strategy-path {
        background-color: $white;
      }
    }
  }

  .content-header {
    position: relative;
    z-index: 1;
    margin-bottom: scale(30);

    .title {
      font-size: scale(50);

      span {
        color: $white;
        position: relative;
        padding: scale(15) scale(15) scale(15) 0;
        display: inline-block;

        &::before {
          content: "";
          height: 100%;
          left: -9999px;
          right: 0;
          top: 0;
          position: absolute;
          z-index: -1;
        }
      }
    }
  }

  $colors: (
    'green': $green,
    'red-light': $red,
    'yellow': $yellow,
    'blue': $blue
  );

@each $name, $color in $colors {
  .section.#{$name} .content-header .title {
    span {
      background: $color;

      &::before {
        background: $color;
      }
    }
  }
}
}

.right-path-for-org {

  .card {
    padding: 0;
    overflow: hidden;
  }
}


// Rewamp, Launch
.rewamp,
.launch {

  p {
    margin-top: scale(5);
  }

  .checklist {
    gap: clamp(30px, scale(50), 55px);
  }

  .row {
    display: flex;
    gap: clamp(30px, scale(50), 55px);
    margin: scale(20) 0 scale(50);

    .col {
      display: flex;
      gap: scale(15);

      p {
        display: flex;
        flex-direction: column;
        gap: scale(10);
        margin: 0;

        span {
          font-size: scale(22);
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
  }
}


// technology-integration
.technology-integration {
  padding-top: 0 !important;

  .section-header {
    max-width: scale(800);

    p {
      margin: 0;
    }
  }

  .card {
    background: $green;
    color: white;
    align-items: flex-start;

    .container {
      gap: 0;
      flex-direction: column;
    }

    h3 span,
    h5 {
      color: $black;
    }

    .row {
      display: flex;
      gap: clamp(30px, scale(50), 55px);
      margin: scale(20) 0;

      .col {
        display: flex;
        flex-direction: column;
        gap: scale(15);

        p {
          margin: 0;
        }
      }

    }

    .integration-logos {
      display: flex;
      gap: scale(20);
      margin: scale(10) 0 0;
      align-items: center;
    }
  }
}


// Adopt
.adopt {

  .card-blocks {
    margin-top: scale(50);

    &-item {
      gap: clamp(20px, scale(30), 35px);

      .row {
        display: flex;
        align-items: center;
        gap: scale(10);

        h5 {
          color: $yellow;
        }
      }

      .checklist {
        width: 100%;
      }
    }
  }
}


// Simpify
.simplify {

  .card {

    >.container {

      >.col {

        &:first-child {
          flex: 1.6;
          padding-right: scale(50);

          h2 {
            margin: 0;
          }

          p {
            margin: 0;
          }
        }

        &:last-child {
          flex: 3.4;
          padding-left: scale(50);

          .managed-services {
            display: flex;
            gap: scale(20);
            margin-top: scale(30);

            > .col {
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              h5 {
                font-size: scale(20);
              }

              p {
                font-size: scale(18);
                margin: scale(10) 0 0;
              }

              &:first-child {
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
}


// Launch
.launch {

  .row {
    margin-bottom: 0;
  }
}


// launch-technology-integration
.launch-technology-integration {

  .col {

    &:first-child {
      flex: 2.4;
      padding-right: scale(40);
    }

    &:last-child {
      flex: 2.6;
      padding-left: scale(40);
    }
  }
}


// specific-framework
.specific-framework {

  .card {
    @extend .gradient;
    color: white;
  }

  .container {
    gap: clamp(20px, scale(30), 35px);
  }

  .col {

    &.content {
      max-width: 60%;

      .section-header {
        margin-top: scale(15);

        h3 {
          span {
            color: $yellow;
          }
        }
      }


      p {
        span {
          color: $yellow;
        }
      }
    }
  }
}
