// recovery-management
.recovery-management {

    .banner {

        .container {
            margin: auto;

            .content {
                text-align: center;
                margin: auto;
                display: flex;
                flex-direction: column;
                align-items: center;

                .title {
                    font-size: scale(50);

                    span {
                        font-style: normal;
                    }
                }
            }
        }
    }
}


// collect-feedback
.collect-feedback {

    .container {

        >.col {

            &:first-child {
                flex: 2.1;
                padding-right: scale(50);
            }

            &:last-child {
                flex: 2.9;
                padding-left: scale(50);
                min-width: 0;

                .row {
                    display: flex;
                    gap: scale(5);
                    margin-top: scale(20);

                    .col {
                        display: flex;
                        flex-direction: column;
                        gap: clamp(20px, scale(30), 35px);
                        justify-content: space-around;
                    }

                    .feature {
                        display: flex;
                        align-items: flex-start;
                        gap: scale(15);

                        p {
                            font-size: scale(18);
                            margin: 0;
                            max-width: scale(280);

                            span {

                                &.text-green {
                                    color: $green;
                                }

                                &.text-red {
                                    color: $red;
                                }

                                &.text-yellow {
                                    color: $yellow;
                                }
                            }
                        }

                        &.has-icon-right {
                            flex-direction: row-reverse;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}


// automate-responses
.automate-responses {

    .card {
        @extend .gradient;
        color: white;
        align-items: flex-start;
    }

    &-row {
        gap: scale(60);
        display: flex;
    }

    &-point {
        display: flex;
        gap: scale(15);
        margin: scale(20) 0 scale(40);

        .text {

            h4 {
                color: $yellow;
                font-size: scale(26);
                margin-bottom: scale(10);
            }

            p {
                max-width: scale(220);
                margin: 0;
            }
        }
    }

    .link {
        color: $yellow;
    }

    .row {
        display: flex;
        gap: scale(20);
        align-items: center;
    }
}


// assign-tickets
.assign-tickets {
    padding-top: scale(100);
    padding-bottom: scale(150);

    .container {

        >.col {
            flex: 1;

            &:first-child {
                display: flex;
                padding-right: scale(90);
                gap: scale(40);
                align-items: flex-end;

                .filter-point-container {
                    display: flex;
                    flex-direction: column;
                    gap: scale(40);

                    .filter-point {
                        display: flex;
                        gap: scale(20);
                        font-size: scale(18);

                        span {
                            font-weight: 600;
                        }

                        &.priority {
                            span {
                                color: $green;
                            }
                        }

                        &.dynamic {
                            span {
                                color: $yellow;
                            }
                        }

                        &.assignment {
                            span {
                                color: $red;
                            }
                        }
                    }
                }

            }

            &:last-child {
                padding-left: scale(90);
            }
        }
    }
}


// communication
.communication {

    .card-blocks {
        gap: scale(80);

        p {
            margin-top: auto;
        }
    }
}

// communication
.resolution {

    .container {

        > .col {
            flex: 1;

            &:first-child {
                padding-right: scale(90);

                .checklist {
                    margin-left: scale(20);
                }
            }

            &:last-child {
                padding-left: scale(90);
            }
        }
    }

}


// analyze
.analyze {

    .container {

        > .col {

            &:first-child {
                flex: 1;
                padding-right: scale(100);
            }

            &:last-child {
                flex: 1;
                padding-left: scale(100);
            }
        }
    }
}


// why-choose
.why-choose {

    .card {
        @extend .gradient;
        color: white;
        align-items: flex-start;
    }

    .container {
        gap: clamp(20px, scale(30), 35px);
    }



    .col {

        &.content {

            h3 {
                span {
                    color: $yellow;
                }
            }

            p {
                margin: scale(10) 0 scale(30);

                span {
                    color: $yellow;
                }
            }

            .row {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .col {
                    display: flex;
                    gap: scale(15);

                    .content {
                        display: flex;
                        flex-direction: column;
                        gap: scale(5);

                        h5 {
                            color: $yellow;
                            margin: 0;
                        }

                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
