$phone-width: 767px;      // xs
$tablet-width: 991px;     // sm
$desktop-width: 1024px;   // md
$desktop-screen: 1280px;  // lg

@mixin lg {
  @media (max-width: #{$desktop-screen}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin xs {
  @media (max-width: #{$phone-width}) {
    @content;
  }
}
