h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
    margin: 0;
}

h2 {
    font-size: scale(65);
}

h3 {
    font-size: scale(45);
}

h4 {
    font-size: scale(30);
}

h5 {
    font-size: scale(22);
}

p {
    font-size: clamp(16px, scale(20), 22px);
    font-weight: 400;
}