.gradient {
    background: #003B6D;
    background: linear-gradient(134deg, rgba(0, 59, 109, 1) 0%, rgba(0, 114, 211, 1) 100%);
}


// Tint of Red
$percentages: 1, .9, .8, .7; // corresponds to 100, 90, 80, 70
// Corresponding class suffixes:
$class-suffixes: 100, 90, 80, 70;

@for $i from 1 through length($percentages) {
    $percent: nth($percentages, $i);
    $suffix: nth($class-suffixes, $i);

    .red-#{$suffix} {
        color: rgba($red, $percent);
    }
}

// Tint of Yellow
$percentages: 1, .9, .8, .7, .6; // corresponds to 100, 90, 80, 70, 60
// Corresponding class suffixes:
$class-suffixes: 100, 90, 80, 70, 60;

@for $i from 1 through length($percentages) {
    $percent: nth($percentages, $i);
    $suffix: nth($class-suffixes, $i);

    .yellow-#{$suffix} {
        color: rgba($yellow-dark, $percent);
    }

    .yellow-bg-#{$suffix} {
        background: rgba($yellow-dark, $percent);
    }
}


// Tint of Blue
$percentages: 1, .9, .8, .7, .6; // corresponds to 100, 90, 80, 70, 60
// Corresponding class suffixes:
$class-suffixes: 100, 90, 80, 70, 60;

@for $i from 1 through length($percentages) {
    $percent: nth($percentages, $i);
    $suffix: nth($class-suffixes, $i);

    .blue-#{$suffix} {
        color: rgba($dark-blue, $percent);
    }

    .blue-bg-#{$suffix} {
        background: rgba($dark-blue, $percent);
    }
}



// Text Color
.text-black {
    color: $black;
}

.text-blue {
    color: $blue;
}

.text-dark-blue {
    color: $dark-blue;
}

.text-green {
    color: $green;
}

.text-red {
    color: $red;
}


.text-yellow {
    color: $yellow;
}

.text-center {
    text-align: center;
}
