$gray-lightest: #f1f2f3;
$gray-light: #d5d9dc;


$white: #FFFFFF;
$yellow: #FCBB1B;
$dark-blue: #003B6D;
$green: #16A458;
$blue: #0072D3;
$blue-light: #62A5E5;
$blue-lightest: #ADD2EF;
$red: #DA4436;
$black: #212121;

$disabled: #B3ADAD;


$default: 1920;
$screen: 1920;