.banner {
    @extend .gradient;
    color: $white;
    min-height: scale(580);
    padding: clamp(40px, scale(80), 90px) 0;
    align-content: center;

    .container {
        height: 100%;
        align-items: center;
        justify-content: start;
    }

    .content {
        max-width: 70%;

        @include xs {
            max-width: none;
            text-align: center;
        }

        .subtitle {
            color: $yellow;
            font-size: scale(24);
            font-weight: 500;
            margin-bottom: 10px;
        }

        h2 {
            text-transform: uppercase;
            margin: 0;
            line-height: 1.2;
            font-size: clamp(24px, scale(50), 60px);
            font-weight: 500;

            @include xs {
                text-align: center;
            }

            span {
                color: $yellow;
            }
        }

        p {
            margin-bottom: scale(30);
            max-width: 700px;
        }
    }
}
