.banner {
    @extend .gradient;
    color: $white;
    min-height: scale(580);
    padding: scale(80) 0;
    align-content: center;

    .container {
        height: 100%;
        align-items: center;
        justify-content: start;
    }

    .content {
        max-width: 70%;

        @include xs {
            max-width: none;
        }

        .subtitle {
            color: $yellow;
            font-size: clamp(22px, scale(24), 28px);
            font-weight: 500;
            margin-bottom: 10px;
        }

        h2 {
            text-transform: uppercase;
            margin: 0;
            line-height: 1.2;
            font-weight: 500;


            span {
                color: $yellow;
            }
        }

        p {
            margin-bottom: clamp(16px, scale(30), 32px);
            max-width: 700px;
        }
    }

    @include sm {
        padding: 40px 0;


    }
}