footer {
  background: linear-gradient(180deg, rgba(0, 59, 109, 1) 0%, rgba(0, 114, 211, 1) 100%);
  color: $white;
  padding: clamp(36px, scale(48), 50px) 0 0;
  border-bottom: 15px solid $yellow;

  @include xs {
    border-bottom-width: 8px;
  }

  .container {
    align-items: center;

    @include xs {
      align-items: flex-start;
    }
  }

  .offices-container {
    overflow: visible;
    background: url("../../images/map.png") no-repeat center;
    background-size: contain;
  }

  .sentimeter-footer-logo {
    margin-bottom: clamp(20px, scale(40), 40px);
  }

  .footer-section-title {
    margin: 0;
    font-size: clamp(22px, scale(45), 46px);
    font-weight: 600;

    @include xs {
      margin-bottom: 6px;
    }
  }

  .col {
    flex: 1;
  }

  .row {
    display: flex;
    gap: clamp(20px, scale(30), 35px);

    @include xs {
      gap: 0;
      flex-direction: column;
    }

    .row-cell {
      flex: 0 1 50%;

      @include xs {
        margin-bottom: 10px;
      }
    }
  }

  .contact-list {
    margin-top: clamp(15px, scale(20), 22px);

    li {
      display: flex;
      align-items: center;
      margin-bottom: clamp(10px, scale(15), 16px);

      img {
        margin-right: clamp(10px, scale(15), 16px);
      }
    }
  }

  .address-wrapper {
    margin-top: scale(25);

    .city {
      font-size: clamp(20px, scale(26), 26px);
      font-weight: 500;
      margin: 0 0 scale(15);

      @include xs {
        padding-left: 28px;
      }
    }

    .address {
      display: flex;
      gap: clamp(10px, scale(15), 16px);
      align-items: flex-start;

      img {
        width: clamp(18px, scale(24), 30px);
        height: auto;
      }

      span {
        font-size: clamp(16px, scale(18), 20px);
        line-height: 1.5;
      }
    }
  }

  .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: clamp(20px, scale(30), 32px);
    padding: clamp(20px, scale(30), 32px) 0;
    border-top: 1px solid $white;

    @include xs {
      flex-direction: column-reverse;
      border: 0;
      margin-top: 0;
    }

    .legal-section {
      display: flex;
      gap: 10px;
      align-items: center;

      @include xs {
        margin-top: 20px;
        padding-top: 15px;
        flex-direction: column-reverse;
        border-top: 1px solid $white;
      }

      p {
        margin: 6px 0 0;
      }
    }

    .socialmedia-section {

      .socialmedia-list {
        display: flex;
        gap: 10px;

        li {

          a {
            border: 1px solid $white;
            width: clamp(34px, scale(46), 48px);
            height: clamp(34px, scale(46), 48px);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              display: inline-block;
              vertical-align: middle;
            }

            &:hover {
              background-color: rgba(255, 255, 255, 0.1);
            }
          }

        }
      }
    }
  }
}
