.header {
  background: rgba($white, 0.9);
  align-items: center;
  position: sticky;
  z-index: 100;
  top: 0;
  backdrop-filter: blur(20px);
  border-top: 16px solid $yellow;
  padding: scale(20) 0;

  .container {
    justify-content: space-between;
    align-items: center;
    position: static;

    @include xs {
      flex-direction: row;
    }
  }

  &-left {
    .logo {
      display: flex;
      align-items: center;
      color: #003B6D;

      img {
        margin-right: 8px;

        width: clamp(50px, scale(56), 72px);
      }

      font-size: clamp(24px, scale(38), 42px);

      }

      b {
        font-weight: 600;

      }
    }
  }

  &-right {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  @include sm {
    .container {
      flex-direction: row;
    }
  }

