.header {
  background: rgba($white, 0.9);
  align-items: center;
  position: sticky;
  z-index: 100;
  top: 0;
  backdrop-filter: blur(20px);
  border-top: 16px solid $yellow;
  padding: scale(20) 0;

  .container {
    justify-content: space-between;
    align-items: center;
  }

  &-left {
    .logo {
      display: flex;
      align-items: center;
      color: #003B6D;

      img {
        margin-right: 8px;
        width: scale(56);
        width: scale(56);
      }

      font-size: scale(38);

      b {
        font-weight: 600;

      }
    }
  }

  &-right {
    display: flex;
    align-items: center;
    gap: 30px;
  }






  .menu-button {
    position: absolute;

    right: 20px;
    top: 31px;
    display: none !important;
    width: 27px;
    height: 18px;
    transition: 0.35s;

    span {
      width: 27px;
      height: 3px;
      background: $black;
      display: block;
      margin-bottom: 3px;
      transition: 0.35s;
      pointer-events: none;
    }

    &.show {
      span {
        &:first-child {
          opacity: 0;
        }

        &:nth-child(2) {
          background: $red;
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          background: $red;
          transform: rotate(-45deg);
          margin-top: -6px;
        }
      }
    }

    @include md {
      display: block !important;
    }
  }

  &.show {
    .nav {
      @include md {
        max-height: 500px;
      }
    }
  }

  @include md {
    >.container {
      padding: 30px 16px;
    }

    .nav {
      height: auto;
    }
  }

  &.show--notification {
    .notification-bar {
      height: 75px;
      padding: 1rem 0;
    }

    .menu-button {
      top: 106px;
    }
  }
}