.hero {
    background: #003B6D;
    background: linear-gradient(134deg, rgba(0, 59, 109, 1) 0%, rgba(0, 114, 211, 1) 100%);
    color: $white;
    height: 100vh;

    .container {
        height: 100%;

        .col {
            flex: 1;
            position: relative;


            .content {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);

                h1 {
                    .row {
                        &:nth-child(1) {
                            span {
                                &:nth-child(1) {
                                    font-size: scale(57);
                                    font-weight: 400;
                                    line-height: 1;
                                }
                            }
                        }

                        &:nth-child(2) {
                            margin-bottom: scale(20);

                            span {
                                &:nth-child(1) {
                                    font-size: scale(120);
                                    line-height: 1;
                                    color: $yellow;
                                    font-weight: 600;
                                }

                                &:nth-child(2) {
                                    font-size: scale(57);
                                    font-weight: 400;
                                    line-height: 1;
                                    margin-left: scale(20);
                                    width: scale(500);
                                    display: inline-block;
                                }
                            }
                        }

                        &:nth-child(3) {
                            span {
                                &:nth-child(1) {
                                    font-size: scale(57);
                                    font-weight: 400;
                                    line-height: 1;
                                    width: scale(300);
                                    display: inline-block;
                                }

                                &:nth-child(2) {
                                    font-size: scale(120);
                                    line-height: 1;
                                    color: $yellow;
                                    font-weight: 600;
                                }
                            }
                        }

                        &:nth-child(4) {
                            text-align: right;
                            padding-right: scale(25);

                            span {


                                &:nth-child(1) {
                                    font-size: scale(57);
                                    font-weight: 400;
                                    line-height: 1;
                                    display: inline-block;
                                }


                            }
                        }

                    }
                }
            }

            .image-holder {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                img {
                    width: scale(844);
                    height: auto;
                    max-width: 844px;

                }

            }
        }
    }
}