.hero {
    background: #003B6D;
    background: linear-gradient(134deg, rgba(0, 59, 109, 1) 0%, rgba(0, 114, 211, 1) 100%);
    color: $white;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .lines {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;

        img {
            width: 100%;
            height: auto;

            @include xs {
                width: 400%;
            }
        }
    }

    .hero-header {
        width: 100%;
        transform: translateY(scale(30));

        .container {
            justify-content: space-between;
            align-items: center;
        }

        .button {
            background: $dark-blue;
        }
    }


    >.container {
        height: 100%;

        .col {
            flex: 1;
            position: relative;
            align-content: center;


            .content {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);

                h1 {
                    .row {
                        display: flex;

                        &:nth-child(1) {
                            span {
                                &:nth-child(1) {
                                    font-size: clamp(20px, scale(57), 60px);
                                    font-weight: 400;
                                }
                            }
                        }

                        &:nth-child(2) {
                            margin-bottom: scale(20);

                            span {
                                &:nth-child(1) {
                                    font-size: clamp(50px, scale(120), 120px);
                                    line-height: 1;
                                    color: $yellow;
                                    font-weight: 600;
                                }

                                &:nth-child(2) {
                                    font-size: clamp(20px, scale(57), 60px);
                                    font-weight: 400;
                                    line-height: 1.1;
                                    margin-left: clamp(10px, scale(20), 20px);
                                    width: clamp(190px, scale(480), 500px);
                                    display: inline-block;
                                }
                            }
                        }

                        &:nth-child(3) {
                            span {
                                &:nth-child(1) {
                                    font-size: clamp(20px, scale(57), 60px);
                                    font-weight: 400;
                                    line-height: 1;
                                    width: clamp(110px, scale(300), 300px);
                                    display: inline-block;
                                }

                                &:nth-child(2) {
                                    font-size: clamp(50px, scale(120), 120px);
                                    line-height: 1;
                                    color: $yellow;
                                    font-weight: 600;
                                }
                            }
                        }

                        &:nth-child(4) {
                            text-align: right;
                            padding-right: scale(25);
                            justify-content: end;

                            span {


                                &:nth-child(1) {
                                    font-size: clamp(20px, scale(57), 60px);
                                    font-weight: 400;
                                    line-height: 1;
                                    display: inline-block;
                                }


                            }
                        }

                    }
                }
            }

            .image-holder {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                @include sm {
                    position: relative;
                    left: 0;
                    top: 0;
                    transform: none;
                }

                img {
                    max-width: none !important;

                    @include sm {
                        max-width: 100% !important;
                    }
                }
            }
        }
    }
}




.floating-svg {
    animation: floatUpDown 6s ease-in-out infinite;
    opacity: 0.25;
}

@keyframes floatUpDown {

    0%,
    100% {
        transform: translateY(0);
        opacity: .5;
    }

    50% {
        transform: translateY(20px);
        opacity: 1;
    }
}

.home-nav {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

    z-index: 99999;

    .wrapper {





        .home-sub-nav {
            position: fixed;
            z-index: -1;
            bottom: 25px;
            left: 50%;
            transform: translateX(-50%);
            background: $dark-blue;
            border: 1px solid $yellow;
            width: clamp(420px, scale(450), 550px);
            border-radius: 20px;
            padding-bottom: 100px;
            display: none;

            ul {
                display: flex;
                flex-direction: column;
                align-items: start;
                margin-top: 50px;
                margin-left: 50px;
                gap: 0;
                border: 0;
                background: none;

                li {
                    margin-bottom: 10px;

                    a {
                        opacity: .5;
                        background: none;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }

    }

}
