.nav {
  $self: &;

  height: clamp(80px, scale(126), 130px);
  align-content: center;
  margin-top: scale(-20);
  margin-bottom: scale(-20);

  ul {
    display: flex;
    align-content: center;
    transition: 0.35s;
    gap: 30px;
    height: 100%;
    align-content: center;

    #{$self}__item {
      font-size: clamp(16px, scale(18), 20px);
      padding: 0 10px;
      transition: 0.35s;
      color: $black;
      align-content: center;

      &:hover {
        color: $dark-blue;

        .sub-nav {
          display: block;
        }
      }
    }
  }

  &--home {
    height: auto;
    margin-top: 0;
    margin-bottom: 0;

    ul {
      display: flex;
      align-items: center;
      transition: 0.35s;
      gap: 0px !important;
      justify-content: space-between;
      background: $dark-blue;
      border: 1px solid $yellow;
      padding: 0px 24px 0px 6px;
      border-radius: 50px;
      width: clamp(420px, scale(450), 550px);


      #{$self}__item {
        padding: 14px 10px;

        a {
          color: white;
          font-size: clamp(16px, scale(18), 20px);
          padding: 4px 10px;
          border-radius: 20px;
          white-space: nowrap !important;
        }

        &:hover {
          background: rgba($yellow, .5);

          .home-sub-nav {
            display: block !important;

          }
        }

        &--home {
          aspect-ratio: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50px;
          background-color: rgba($yellow, .8);
          padding: 0 !important;

          a {
            svg {
              margin-top: 4px;
            }
          }
        }
      }
    }
  }

  @include md {
    margin-top: 0;

    >ul {
      position: absolute;
      right: 0;
      flex-direction: column;
      top: 100%;
      width: 100%;
      background-color: $gray-lightest;
      height: 80vh;
      gap: 0;
      max-height: 0;
      overflow: hidden;

      #{$self}__item {
        padding: 10px 20px;
        width: 100%;
        text-align: right;
        border-bottom: 1px solid $gray-light;

        a {
          color: $black;
        }
      }
    }
  }

  &.show {
    ul {
      max-height: 80vh;
    }
  }
}

.sub-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: auto;
  background-color: white;
  max-width: clamp(1200px, scale(1612), 2200px);
  border-radius: 0 0 25px 25px;
  overflow: hidden;
  box-shadow: 0 30px 25px rgba($color: #000000, $alpha: 0.4);
  display: none;

  .container {
    align-items: stretch;
    padding-left: 0;

    .left-tabs {
      width: 371px;
      background-color: $dark-blue;
      align-content: center;
      display: flex;
      flex-direction: column;
      align-items: end;
      padding-top: 50px;

      a {
        width: 80%;
        font-size: 20px;
        margin-bottom: 5px;
        padding: 10px;
        color: white;
        border-radius: 10px 0 0 10px;

        &.active {
          color: $dark-blue;
          background: $yellow;
          font-weight: 600;
        }
      }

    }

    .right-nav {

      padding: 50px 20px;
      flex: 1;

      .logo {
        margin-bottom: 50px;

        img {
          width: clamp(200px, scale(237), 237px);
          height: auto;
        }
      }

      .nav-links {
        ul {
          display: flex;
          flex-wrap: wrap;
          align-items: start;

          li {
            width: 30%;

            a {
              display: block;

              .link-title {
                position: relative;
                color: $dark-blue;
                font-size: clamp(16px, scale(22), 22px);
                font-weight: 500;
                margin-bottom: 5px;
                display: inline-block;
                padding-right: 30px;

                &::after {
                  content: "";
                  position: absolute;
                  right: 0;
                  top: 2px;
                  width: 22px;
                  height: 22px;
                  background: url('../../images/arrow.svg') no-repeat center;
                  transition: .35s;
                }
              }

              .link-sub-title {
                font-size: 16px;
                color: #263238;
              }

              &:hover {
                .link-title {
                  &::after {
                    right: -10px;
                  }
                }
              }

            }
          }
        }
      }
    }
  }

  @include sm {
    position: static;
    display: block;
    background-color: transparent;
    box-shadow: none;

    .container {
      padding-right: 0;
      flex-direction: column;
      gap: 0;

      .left-tabs {
        // display: none;
        width: 100%;
        padding-top: 0;
        flex-direction: row;
        padding: 10px;
        align-items: center;
        justify-content: center;

        a {
          font-size: 14px;
          margin-bottom: 0;
          flex: 1;
          text-align: center;

          &.active {
            border-radius: 10px;
          }
        }
      }

      .right-nav {
        padding: 10px 0;

        .logo {
          display: none;
        }

        .nav-links {
          ul {
            flex-wrap: nowrap;
            flex-direction: column;
            gap: 8px;

            li {
              width: 100%;

              a {
                .link-title {
                  padding-right: 0;

                  &::after {
                    display: none;
                  }
                }

                .link-sub-title {
                  display: none;
                }
              }
            }
          }
        }
      }
    }

  }


}


.menu-button {
  position: absolute;
  width: 35px;
  right: 20px;
  top: 30px;
  display: none !important;
  text-align: right;
  flex-direction: column;
  align-items: end;


  span {
    width: 100%;
    height: 3px;
    background: $dark-blue;
    display: block;
    margin-bottom: 5px;
    transition: .35s;

    &:nth-child(2) {
      background: $dark-blue;
      width: 20px;

    }
  }

  &.show {
    span {
      &:first-child {
        opacity: 0;
      }

      &:nth-child(2) {
        background: $dark-blue;
        transform: rotate(45deg);

      }

      &:nth-child(3) {
        background: $dark-blue;
        transform: rotate(-45deg);
        margin-top: -6px;
      }
    }
  }

  @include sm {
    display: flex !important;
  }
}