.senti-insights-tabs {
  @extend .gradient;
  color: $white;

  .container {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .section-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: clamp(40px, scale(80), 80px);

    .tab-buttons {
      display: flex;
      align-items: center;

      button {
        background: transparent;
        opacity: 0.74;
        border: 0;
        padding: 0;

        img {
          margin: 0;
        }

        &.active {
          opacity: 1;
        }

        &:not(.active) {

          img {
            max-width: 124px !important;

            @include xs {
              max-width: 75px !important;
            }
          }
        }

        &:hover {
          cursor: pointer;
        }
      }

      .vertical-bar {
        width: 2px;
        height: clamp(60px, scale(100), 100px);
        background: $white;
        margin: 0 scale(40);
      }

    }

    a {
      align-self: flex-start;
      display: flex;
      align-items: center;
      gap: scale(12);
    }
  }

  .slide-content {
    display: flex;

    img {
      width: scale(1000) !important;
      max-width: 100%;
      height: auto;
    }

    .content-left,
    .content-right {
      max-width: scale(400);


      p {
        font-size: clamp(14px, scale(24), 24px);
        border-top: 2px solid $white;
        margin-top: scale(80);
        padding-top: scale(20);
      }
    }

    .content-left {
      position: relative;

      p {
        width: 120%;
      }
    }

    .content-right {
      position: relative;

      p {
        margin-left: -30%;
        width: 120%;
      }
    }

  }

  .senticx-slider,
  .sentiex-slider {
    position: relative;
    width: 100%;
    overflow: hidden;

    .nav {
      justify-content: center;

      display: flex;
      align-items: center;
      gap: 12px;

      li {
        display: flex;
        align-items: center;


        label {
          display: flex;
          align-items: center;
          gap: 8px;
        }

        .number,
        .text {
          font-size: clamp(14px, scale(24), 24px);
        }

        .number {
          width: clamp(36px, scale(46), 46px);
          height: clamp(36px, scale(46), 46px);
          border-radius: 50%;
          border: 2px solid $white;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0.5;
        }

        .text {
          max-width: 0;
          overflow: hidden;
          transition: 1s;
          white-space: nowrap;
        }
      }
    }
  }

  input[type="radio"] {
    display: none;
  }

  .slides {
    display: flex;
    transition: transform 0.6s ease;
    width: 400%;
    /* 3 slides */
  }

  .slide {
    width: 25%;
    // flex: 1;
    box-sizing: border-box;
  }

  /* Slide navigation using radio buttons */
  #cxSlide1:checked~.slides,
  #exSlide1:checked~.slides {
    transform: translateX(0%);
  }

  #cxSlide2:checked~.slides,
  #exSlide2:checked~.slides {
    transform: translateX(-25%);
  }

  #cxSlide3:checked~.slides,
  #exSlide3:checked~.slides {
    transform: translateX(-50%);
  }

  #cxSlide4:checked~.slides {
    transform: translateX(-75%);
  }



  input#cxSlide1:checked~.nav label[for="cxSlide1"],
  input#exSlide1:checked~.nav label[for="exSlide1"],
  input#cxSlide2:checked~.nav label[for="cxSlide2"],
  input#exSlide2:checked~.nav label[for="exSlide2"],
  input#cxSlide3:checked~.nav label[for="cxSlide3"],
  input#exSlide3:checked~.nav label[for="exSlide3"],
  input#cxSlide4:checked~.nav label[for="cxSlide4"],
  input#exSlide4:checked~.nav label[for="exSlide4"] {

    .number {
      opacity: 1;
    }

    .text {
      max-width: clamp(130px, scale(230), 250px);
      display: flex;
    }
  }

  @include sm {
    .slides {
      .slide {
        .slide-content {
          flex-direction: column;

          img {
            width: 100% !important;
          }

          .content-left,
          .content-right {
            max-width: none;

            p {
              display: block;
              box-sizing: border-box;
              width: 80%;
              font-size: 18px;
              margin: 0 auto;
              text-align: center;
              border: 0;
            }
          }
        }
      }
    }
  }
}
