.testimonials {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: scale(100) 0 scale(50);

  .section-title {
    color: $dark-blue;
    text-align: center;
    margin-bottom: scale(30);
    width: 100%;

  }

  .container {
    gap: 0;

    @include xs {
      padding: 0;
    }
  }

  .testimonial {
    background: $red-light;
    padding: clamp(20px, scale(75), 80px);
    border-radius: 6px;

    &-inner {
      display: flex;
      align-items: center;
      gap: scale(120);
      margin: 0 auto;

      @include xs {
        flex-direction: column;
      }
    }

    &-content {
      position: relative;
    }

    &-text {
      font-size: clamp(18px, scale(24), 26px);
    }

    &-author {
      font-size: clamp(20px, scale(30), 32px);
      color: #3B4752;
      font-weight: 500;
      font-style: italic;

      @include xs {
        position: absolute;
        left: 80px;
        top: 5px;
      }

      .role {
        color: $red;
        font-size: clamp(16px, scale(24), 26px);
        font-style: italic;
        display: block;
      }
    }

  }

  .embla {
    overflow: hidden;
    width: 100%;

    .embla__container {
      display: flex;

      .embla__slide {
        flex: 0 0 100%;
      }
    }
  }

  .embla__dots {
    display: flex;
    justify-content: center;
    gap: scale(15);
    margin-top: scale(30);

    .embla__dot {
      width: clamp(10px, scale(16), 18px);
      height: clamp(10px, scale(16), 18px);
      background-color: $gray-light;
      border-radius: 50%;
      padding: 0;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;

      &.is-selected {
        background-color: $dark-blue;
      }
    }
  }
}
