.testimonials {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: scale(100) 0 scale(50);

  .section-title {
    color: $dark-blue;
    text-align: center;
    margin-bottom: scale(30);
    width: 100%;

  }

  .container {
    gap: 0;
  }

  .testimonial {
    background: $red-light;
    padding: scale(75);
    border-radius: scale(6);
    margin-right: 50px;

    &-inner {
      display: flex;
      align-items: center;
      gap: scale(120);
      margin: 0 auto;

      img {
        width: scale(430);
        height: auto;
      }
    }

    &-text {
      font-size: scale(24);
    }

    &-author {
      font-size: scale(30);
      color: #3B4752;
      font-weight: 500;
      font-style: italic;
    }

    &-role {
      color: $red;
      font-size: scale(24);
      font-style: italic;
    }
  }

  .embla {
    overflow: hidden;
    width: 100%;

    .embla__container {
      display: flex;

      .embla__slide {
        flex: 0 0 100%;
      }
    }
  }

  .embla__dots {
    display: flex;
    justify-content: center;
    gap: scale(15);
    margin-top: scale(30);

    .embla__dot {
      width: scale(16);
      height: scale(16);
      background-color: $gray-light;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;

      &.is-selected {
        background-color: $dark-blue;
      }
    }
  }
}